center
    h1
        |    FCT-APP - Sistema de Reservaci&oacute;n
h2
    |    La Aplicaci&oacute;n para la federaci&oacute;n de taekwondo de Costa Rica.
tr
center
    h1
        strong
            |   Reserva no. #{confirmationNum}
p
    |    Este mensaje es para confirmar la cancelaci&oacute;n de la reserva #{confirmationNum}.
