<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-offset-3">

<!-- Campo de cédula que es requerido -->
  <md-input-container layout="column">
    <label>Cédula</label>
    <input type="text" name="id" ng-model="vm.user.id" required pattern="[0-9]+">

    <!-- Mesaje de retroalimentación -->
    <div ng-messages="frmRegisterConsul.id.$error">
    <div ng-messages-include="components/includes/messages.html"></div>
    </div>
  </md-input-container>

  <!-- Campo de primer nombre que es requerido -->
  <md-input-container layout="column">
    <label>Primer Nombre</label>
    <input type="text" name="firstName" ng-model="vm.user.firstName" required pattern="[^a-zA-Z]+">

    <!-- Mesaje de retroalimentación -->
    <div ng-messages="frmRegisterConsul.firstName.$error">
    <div ng-messages-include="components/includes/messages.html"></div>
    </div>
  </md-input-container>

  <!-- Campo de segundo nombre que no requerido -->
  <md-input-container layout="column">
    <label>Segundo Nombre</label>
    <input type="text" name="secondName" ng-model="vm.user.secondName" pattern="[^a-zA-Z]+">
    <!-- Mesaje de retroalimentación -->
    <div ng-messages="frmRegisterConsul.secondName.$error">
    <div ng-messages-include="components/includes/messages.html"></div>
    </div>
  </md-input-container>
</div>
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6w col-offset-3">

  <!-- Campo de primer apellido que es requerido  -->
  <md-input-container layout="column">
    <label>Primer Apellido</label>
    <input type="text" name="surname" ng-model="vm.user.surname" required pattern="[^a-zA-Z]+">

    <!-- Mesaje de retroalimentación -->
    <div ng-messages="frmRegisterConsul.surname.$error">
    <div ng-messages-include="components/includes/messages.html"></div>
    </div>
  </md-input-container>

  <!--Campo de segundo apellido que no es requerido  -->
  <md-input-container layout="column">
    <label>Segundo Apellido</label>
    <input type="text" name="secondSurname" ng-model="vm.user.secondSurname" pattern="[^a-zA-Z]+">

    <!-- Mesaje de retroalimentación -->
    <div ng-messages="frmRegisterConsul.secondLastName.$error">
    <div ng-messages-include="components/includes/messages.html"></div>
    </div>
  </md-input-container>

  <!-- Campo de fecha de nacimiento -->
  <md-input-container flex-offset>
    <md-datepicker name="bornDate"  ng-model="vm.user.bornDate"  md-placeholder="Fecha de nacimiento" required></md-datepicker>
    <!-- Mensaje de retroalimentacion -->
    <div ng-messages="frmRegisterConsul.$error">
        <div ng-messages-include="components/includes/messages.html"></div>
    </div>
  </md-input-container>
</div>
<!-- Boton de siguiente centrado -->
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="admin.partTwo" class="btn btn-block btn-info" ng-disabled="frmRegisterConsul.$invalid">
    Siguiente paso <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
