<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-offset-5">
  <md-input-container>
  <label>Género</label>
  <md-select ng-model="vm.user.genre" placeholder="Género">
    <md-option ng-value="">Seleciona el genero</md-option>
    <md-option ng-value="male" ng-disabled="$index === 1">Masculino</md-option>
    <md-option ng-valule="female">Fenenino</md-option>
    <md-option ng-valule="other">Otro</md-option>
  </md-select>
</md-input-container>
  <md-input-container layout="column">
    <label>Nacionalidad</label>
    <md-select name="nationality" ng-model="vm.user.nationality" required>
      <md-option value="">Seleciona el país</md-option>
      <md-option ng-repeat="country in vm.countries" value="{{country}}" ng-disabled="$index === 1">{{country}}</md-option>
    </md-select>
    <div ng-messages="frmRegisterConsult.nationality.$error">
    <div ng-messages-include="components/includes/messages.html"></div>
    </div>
  </md-input-container>
  <md-input-container layout="column">
    <label>Correo electrónico</label>
    <input type="email" name="email" ng-model="vm.user.email" required pattern="([\w-\.]+)@((?:[\w]+\.)+)([a-zA-Z]{2,4})">
    <div ng-messages="frmRegisterConsult.email.$error">
    <div ng-messages-include="components/includes/messages.html"></div>
    </div>
  </md-input-container>
</div>
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-offset-5">
  <div>
    <label class="btn btn-default btn-file">
      Adjuntar Foto <input id="photo" name="photo" type="file" style="display: none;" ng-model="vm.event.photo">
    </label>
  </div>
</div>
</div>
<div class="col-xs-6 col-xs-offset-3">
  <button type="submit" class="btn btn-success" ng-click="reset()">Registrar</button>
  <span class=bg-danger" id="feedbackMesage"></span>
</div>
