<section id="landing">

	<!-- Navegación -->
	<div id="Navegation" class="row">
      	<nav class="navbar navbar-default">
         	<div class="container-fluid" id="Menu">
	           <div class="navbar-header">
	             	<button id="button" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	               		<span class="sr-only">Toggle navigation</span>
	               		<span class="icon-bar"></span>
	               		<span class="icon-bar"></span>
	               		<span class="icon-bar"></span>
	             	</button>
	           </div>

           		<div class="nav navbar-nav navbar-right">
             		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               			<ul class="nav navbar-nav" id="listaNav">
                 			<li href="#" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button">EVENTOS <span class="fa fa-angle-down"></span></a>
                   				<ul class="dropdown-menu">
                   					<li><a href="#">FUTUROS EVENTOS</a></li>
				                    <li><a ui-sref-active="active" ui-sref="proposes.proposeOne">HACER PROPUESTAS</a></li>
                   				</ul>
                 			</li>
                 			<li href="#" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button">ENTRADAS <span class="fa fa-angle-down"></span></a>
                   				<ul class="dropdown-menu">
                   					<li><a ng-click="vm.reserve($event)">RESERVAR</a></li>
				                    <li><a ng-click="vm.cancel($event)">CANCELAR</a></li>
                   				</ul>
                 			</li>
			                <li><a ng-click="vm.logIn($event)">LOG IN</a></li>
               			</ul>
             		</div>
           		</div>
         	</div>
       	</nav>
	</div>

	<!-- Nombre e información de la Federación -->
	<div class="row">
		<div class="col-md-offset-2 col-md-8">
			<div class="col-xs-12">
				<p id="titleFCT">Federación Costarricense de Taekwondo</p>
			</div>
			<div id="infoFCT" class="col-xs-12">
				<p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original.</p>
			</div>
			<div id="buttonInfo" class="col-xs-12">
				<md-button class="md-raised">Más información</md-button>
			</div>
		</div>

	</div>


</section>
