<!-- Sidenav view -->
<div class="body-app md-menu-demo" layout="column" ng-cloak">
	<div class="side-content-container" layout="row" flex>
		<md-sidenav md-is-locked-open="true" class="md-whiteframe-3dp side-nav" flex="15">
			<md-toolbar>
				<h1>FCT App</h1>
			</md-toolbar>
			<md-list>
				<md-list-item>
					<md-icon>
						<i class="material-icons side-icons home-icon">&#xE88A;</i>
					</md-icon>
					<span class="menu-button" flex>Home</span>
				</md-list-item>
				<md-list-item>
					<md-icon>
						<i class="material-icons side-icons profile-icon">&#xE853;</i>
					</md-icon>
					<span class="menu-button" flex>Perfil</span>
				</md-list-item>
				<md-list-item>
					<md-icon>
						<i class="material-icons side-icons events-icon">&#xE878;</i>
					</md-icon>
					<span class="menu-button" flex>Eventos</span>
				</md-list-item>
				<md-list-item>
					<md-icon>
						<i class="material-icons side-icons help-icon">&#xEB3F;</i>
					</md-icon>
					<span class="menu-button" flex>Patrocinadores</span>
				</md-list-item>
				<md-list-item>
					<md-icon>
						<i class="material-icons side-icons register-icon">&#xE873;</i>
					</md-icon>
					<span class="menu-button" flex>Registro de alumno</span>
				</md-list-item>
			</md-list>
		</md-sidenav>
		<md-content id="content" flex>
	  		<md-toolbar class="tool-icons md-whiteframe-3dp" layout="row">
	  			<md-list-item class="noright" flex="20">
    				<img alt="{{ person.name }}" ng-src="{{ person.img }}" class="md-avatar" />
    				<p>{{person.name}}</p>
  				</md-list-item>
    			<div class="md-toolbar-tools" layout="row" layout-align="end center" flex="80">
    				<div class="icons-profile-container">
    					      				<md-icon flex>
      						<i class="material-icons user-nav-icons">&#xE7F4;</i>
      					</md-icon>
    				 <md-menu>
				      <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdMenu, $event)">
				        <md-icon md-menu-origin>
				        	<i class="material-icons user-nav-icons">&#xE8B8;</i>
				        </md-icon>
				      </md-button>
				      <md-menu-content width="4">
				        <md-menu-item>
				          <md-button ng-click="ctrl.redial($event)">
				            Edit profile
				          </md-button>
				        </md-menu-item>
				        <md-menu-item>
				          <md-button disabled="disabled" ng-click="ctrl.checkVoicemail()">
				            
				            Recuperar contraseña
				          </md-button>
				        </md-menu-item>
				        <md-menu-divider></md-menu-divider>
				        <md-menu-item>
				          <md-button ng-click="ctrl.toggleNotifications()">
				            Cerrar sesión
				          </md-button>
				        </md-menu-item>
				      </md-menu-content>
				    </md-menu>
    				</div>
    			</div>
  			</md-toolbar>
  			<!-- Place your view here 

  			!!-->
  			

		</md-content>

	</div>
</div>