<!-- Campo nombre del lugar -->
<md-input-container flex-offset>
	<label>Cantidad de asientos</label>
	<input name="seats" ng-model="vm.propose.seats" required>

	<!-- Mensaje de retroalimentacion -->
	<div ng-messages="frmProposeRegister.seats.$error">
		<div ng-messages-include="components/includes/messages.html"></div>
	</div>
</md-input-container>

<!-- Campo cantidad de entradas -->
<md-input-container flex-offset>
	<label>Cantidad de entradas a vender</label>
	<input name="tickets" ng-model="vm.propose.tickets" required>

	<!-- Mensaje de retroalimentacion -->
	<div ng-messages="frmProposeRegister.tickets.$error">
		<div ng-messages-include="components/includes/messages.html"></div>
	</div>
</md-input-container>

<!-- Campo nombre de contacto -->
<md-input-container flex-offset>
	<label>Nombre de contacto</label>
	<input name="contactName" ng-model="vm.propose.contactName" required>

	<!-- Mensaje de retroalimentacion -->
	<div ng-messages="frmProposeRegister.contactName.$error">
		<div ng-messages-include="components/includes/messages.html"></div>
	</div>
</md-input-container>

<!-- Campo teléfono de contacto -->
<md-input-container flex-offset>
	<label>Teléfono de contacto</label>
	<input name="contactPhone" ng-model="vm.propose.contactPhone" required>

	<!-- Mensaje de retroalimentacion -->
	<div ng-messages="frmProposeRegister.contactPhone.$error">
		<div ng-messages-include="components/includes/messages.html"></div>
	</div>
</md-input-container>
<!-- Botón siguiente -->
<a ui-sref="proposes.proposeSix" ng-disabled="frmProposeRegister.$invalid" class="btn btn-info">Siguiente <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
