<!-- Campo de seleccionar proposeo beneficencia -->
<md-radio-group layout="row" layout-align="start center" ng-model="vm.propose.charityEvent">
	<md-radio-button name="charityEvent" value="charity" class="md-primary">Evento de beneficencia</md-radio-button>
</md-radio-group>

<!-- Campo nombre de organización -->
<md-input-container flex-gt-sm ng-show="vm.propose.charityEvent == 'charity'">
	<label>Nombre de la organización</label>
	<input name="orgName" ng-model="vm.propose.orgName">

	<!-- Mesaje de retroalimentación -->
	<div ng-messages="frmRegisterConsul.id.$error">
	<div ng-messages-include="components/includes/messages.html"></div>
	</div>
</md-input-container>

<!-- Campo tipo de organización -->
<md-input-container flex-gt-sm ng-show="vm.propose.charityEvent == 'charity'">
	<label>Tipo de organización</label>
	<input name="orgType" ng-model="vm.propose.orgType">

	<!-- Mesaje de retroalimentación -->
	<div ng-messages="frmRegisterConsul.id.$error">
	<div ng-messages-include="components/includes/messages.html"></div>
	</div>
</md-input-container>

<!-- Campo para descripción de la organización -->
<md-input-container class="md-block" flex-gt-sm ng-show="vm.propose.charityEvent == 'charity'">
	<label>Descripción de la organización</label>
	<textarea name="description" ng-model="vm.propose.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>

	<!-- Mesaje de retroalimentación -->
	<div ng-messages="frmRegisterConsul.id.$error">
	<div ng-messages-include="components/includes/messages.html"></div>
	</div>
</md-input-container>

<!-- Subir logo -->
<div>
	<label class="btn btn-default btn-file" for="photo">
    Adjuntar logo <input id="photo" name="photo" type="file" style="display: none;" ng-model="vm.propose.photo">
	</labe		l>
</div>

<!-- botón para guardar datos -->
<button type="submit" ng-disabled="frmProposeRegister.$invalid" class="btn btn-danger" ng-disabled="frmProposeRegister.$invalid || submitDisable" ng-click="vm.reset()">Ingresar</button>
