<section id="eventsViewSection" class="container-fluid">
	<div class="row">
		<div id="topSpace" class="col-xs-12 md-whiteframe-3dp">
			<div class="col-xs-2 imageLogo"><img src="images/logFCT.png" width="75px" height="75px"></div>
			<div class="col-xs-offset-7 col-xs-1 col-sm-offset-9 col-sm-1"><a ng-click="vm.return($event)"><span class="fa fa-times quitX"></span></a></div>
		</div>
	</div>
	<div id="eventsSpace" class="row">
		<div class="col-md-offset-1 col-md-10">
			<h3>CONSULTAR EVENTOS</h3>

			<div id="eventsSelect" class="col-xs-12">
				<md-input-container>
					<label>Seleccione el evento</label>
					<md-select name="event" ng-model="vm.event.eventName" ng-change="vm.checkInfoEvent(vm.event.eventName)" required>
						<md-option ng-repeat="event in vm.events | eventFrom" value="{{event.eventName}}"><span class="strongLetter">Nombre:</span> {{event.eventName}} , <span class="strongLetter">Fecha de Inicio:</span> {{event.date1 | date : "shortDate"}}, <span class="strongLetter">Tipo de evento:</span> {{event.eventType}}</md-option>
					</md-select>
				</md-input-container>
			</div>
			<div class="col-xs-12 col-sm-5 col-md-6">
				<div id="infoCard" class="col-xs-12 md-whiteframe-3dp" ng-show="vm.openCard">
					<div class="col-xs-12 headerCard md-whiteframe-3dp">
						<div id="headerSpace" class="col-xs-12">
							<img class="md-whiteframe-3dp" ng-src="{{vm.consultEvent.photo}}" alt="Description" width="60px" height="60px" />
							<h3>{{vm.consultEvent.eventName}}</h3>
						</div>
					</div>
					<!-- <input  places-auto-complete="true"
					placeholder="Ubicación" 
					size=80
					ng-model="vm.event.place"
					component-restrictions="{country:'cr'}"
					on-place-changed="vm.placeChanged()"
					maxlength="100" type="text" class="form-control" name="location" /> -->
					<div id="infoEvents" class="col-xs-12">
						<p><span class="strongLetter">Hora de Inicio:</span><br>{{vm.consultEvent.time1 | date : "shortTime"}}</p>
						<p><span class="strongLetter">Lugar:</span><br>{{vm.consultEvent.placeName}}</p>
						<p><span class="strongLetter">Precio de entrada:</span><br>{{vm.consultEvent.ticketPrice}}</p>
						<p><span class="strongLetter">Nombre de contacto:</span><br>{{vm.consultEvent.contactName}}</p>
						<p><span class="strongLetter">Nombre de contacto:</span><br>{{vm.consultEvent.contactPhone}}</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-7 col-md-6">
				<div id="mapSpace" class="col-xs-12">
					<ng-map class="md-whiteframe-3dp" zoom="7" center=[9.9333300,-84.0833300] >
						<marker ng-show="vm.place" position="{{vm.consultEvent.coords}}" zoom = "18" ></marker>
					</ng-map>
					<div ng-show="vm.place">
						Coordenadas: {{vm.place.geometry.location}}<br/>
					</div>
				</div>
			</div>
			
			<!-- <div class="form-group">
				<label class="control-label">Nombre del lugar</label>
				<input  places-auto-complete="true"
				placeholder="Ej. Polideportivo Cartago" 
				size=80
				ng-model="vm.event.place.address" 
				component-restrictions="{country:'cr'}"
				on-place-changed="vm.placeChanged()"
				maxlength="100" type="text" class="form-control" name="location" /> 
			</div> -->
		</div>
	</div>
</section>