/*Inicio Estilos de tablas usuarios*/
#tableUser h3{
  font-family: 'Montserrat';
  font-size: 1.571em;
  margin-bottom: 60px;
}

#tableUser table{
  width: 95%;
  margin: 0 2.5%;
}

#tableUser thead, #tableUser tbody{
  width: 95%;
  margin: 0 2.5%;
}

#tableUser tbody{
  text-align: center;
}

#tableUser tr th{
  width: 100px;
  text-align: center;
  margin: 0 auto;
  padding: 20px 10px;
  font-size: 1.143em;
  background-color: #00a652;
  color: #fff;
}

#tableUser tr:hover{
  background: rgba(0, 166, 82, 0.1);
}

#tableUser tbody td{
  width: 100px;
  margin: 0 auto;
  border-bottom: 0.1px solid #00978f;
  text-align: center;
  padding: 10px 0;
}
/*Fin Estilos de tablas usuarios*/

/*Inicio estilos de tabla de academias*/
#tableAcaademy h3{
  font-family: 'Montserrat';
  font-size: 1.571em;
  margin-bottom: 60px;
}

#tableAcaademy table{
  width: 95%;
  margin: 0 2.5%;
}

#tableAcaademy thead, #tableAcaademy tbody{
  width: 95%;
  margin: 0 2.5%;
}

#tableAcaademy tbody{
  text-align: center;
}

#tableAcaademy tr th{
  width: 100px;
  text-align: center;
  margin: 0 auto;
  padding: 20px 10px;
  font-size: 1.143em;
  background-color: #85c8dd;
  color: #fff;
}

#tableAcaademy tr:hover{
  background: rgba(133, 200, 221, 0.1);
}

#tableAcaademy tbody td{
  width: 100px;
  margin: 0 auto;
  border-bottom: 0.1px solid #242629;
  text-align: center;
  padding: 10px 0;
}
/*Fin estilos de tabla de academias*/
/*Inicio estilos para la tabla de profesoresr*/

#tblReservation table{
  width: 100%;
}

#tblReservation thead, #tblTeacher tbody{
  width: 100%;
}

#tblReservation tbody{
  text-align: center;
}

#tblReservation tr th{
  text-align: center;
  width: 60px;
  font-size: 1.143em;
  font-size: 1.143em;
  margin: 0 auto;
  padding: 20px 10px;
  color: #fff;
  background-color: #00978f;;
}

#tblReservation tr:hover{
  background: rgba(0, 130, 200,0.1);
}

#tblReservation tbody td{
  text-align: center;
  margin: 0 auto;
  padding: 10px 0;
  width: 60px;
  margin: 0 auto;
  border-bottom: 0.1px solid #242629;
}
#tblReservation h3{
  margin-bottom: 60px;
  font-size: 1.571em;
  font-family: 'Montserrat';
}
#tblReservation .editCxlB{
  background-color: rgba(252, 177, 50, 0.8);
  color: #fff;
}

#tblReservation .editCxlB:not([disabled]):hover {
    background-color: #fcb132;
    transition: 0.3s;
}

/*fIN estilos para la tabla de profesoresr*/

/*Inicio estilos para la tabla de profesoresr*/


#tblTeacher table{
  width: 100%;
}

#tblTeacher thead, #tblTeacher tbody{
  width: 100%;
}

#tblTeacher tbody{
  text-align: center;
}

#tblTeacher tr th{
  text-align: center;
  width: 60px;
  font-size: 1.143em;
  font-size: 1.143em;
  margin: 0 auto;
  padding: 20px 10px;
  color: #fff;
  background-color: #0082c8;;
}

#tblTeacher tr:hover{
  background: rgba(0, 130, 200,0.1);
}

#tblTeacher tbody td{
  text-align: center;
  margin: 0 auto;
  padding: 10px 0;
  width: 60px;
  margin: 0 auto;
  border-bottom: 0.1px solid #242629;
}
#tblTeacher h3{
  margin-bottom: 60px;
  font-size: 1.571em;
  font-family: 'Montserrat';
}
#tblTeacher .editCxlB{
  background-color: rgba(252, 177, 50, 0.8);
  color: #fff;
}

#tblTeacher .editCxlB:not([disabled]):hover {
    background-color: #fcb132;
    transition: 0.3s;
}

/*fIN estilos para la tabla de profesoresr*/

/*Inicio estilos de pasos formulario profesoresr*/

#buttonTeacher div{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #0082c8;
  text-align: center;
  margin: 0 1%;
  font-weight: 500;
  cursor: pointer;
  margin-right: 8%;
}

#buttonTeacher div a{
  color: #0082c8;
  line-height: 2.7;
  text-decoration: none;
  padding: 1.5%;
}

#buttonTeacher div.active{
  background: #0082c8;
  color: #fff;
}

#buttonTeacher div.active a{
  color: #fff;
}

/*Inicio de estilos de eventos de no registrado*/

#eventsTable h3{
  font-family: 'Montserrat';
  font-size: 1.571em;
  margin-bottom: 60px;
}

#eventsTable table{
  width: 100%;
}

#eventsTable thead, #eventsTable tbody{
  width: 100%;
}

#eventsTable tbody{
  text-align: center;
}

#eventsTable tr th{
  width: 60px;
  text-align: center;
  margin: 0 auto;
  padding: 20px 10px;
  font-size: 1.143em;
  background-color: #00978f;;
  color: #fff;
}

#eventsTable tr:hover{
  background: rgba(252, 179, 50,0.2);
}

#eventsTable tbody td{
  width: 60px;
  margin: 0 auto;
  border-bottom: 0.1px solid #242629;
  text-align: center;
  padding: 10px 0;
}

#tableSpace{
  margin-bottom: 400px;
}


/*Fin estilos de eventos no registrado*/

/*Inicio estilos de espacio reservas y cancelación de tiquetes*/

#reserveSection, #cancelSection, #eventsViewSection {
  background: #fff;
}

#topSpace{
  background: #f4f1eb;
  margin-bottom: 30px;
}

#topSpace div img{
  margin-left: 3%;
}

#topSpace .quitX{
  margin-top: 30px;
}

#reserveSection h3, #cancelSection h3{
  font-family: 'Montserrat';
  font-size: 1.571em;
  margin-bottom: 40px;
}

#lastInputs{
  margin-bottom: 60px;
}
#reserveSection .md-button, #cancelSection .md-button{
  width: 100%;
  background: #00978f;
  color: #fff;
  margin-bottom: 20px;
}

#reserveSection .messages{
  text-align: center;
  color: #cd3d3e;
  margin-bottom: 20px;
}

#information, #cxlRSpace{
  background: #f4f1eb;
  border-radius: 7px;
  margin-bottom: 40px;
}

#information div, #cxlRSpace .contFrm{
  padding-top: 20px;
  padding-bottom: 20px;
}

#information div p{
  color: #242629;
  line-height: 2;
}

#searchSpace{
  margin-bottom: 60px;
}

#cxlRSpace .contenedor a{
   background: #fcb132;
   color: #fff;
   width: 100%;
}

#cxlRSpace .SuccessMessage{
  text-align: center;
  color: #cd3d3e;
}
#ticketPrice {
  font-weight: bold;
}
#ticketPrice span{
  color: #cd3d3e;
}

/*Fin estilos de espacio de reservas y cancelación de tiquetes*/

/*Inicio de estilos de historial de competencias*/

#categHist h3{
  font-family: 'Montserrat';
  font-size: 1.571em;
  margin-bottom: 30px;
}

#categHist table{
  width: 100%;
}

#categHist thead, #categHist tbody{
  width: 100%;
}

#categHist tbody{
  text-align: center;
}

#categHist tr th{
  width: 60px;
  text-align: center;
  margin: 0 auto;
  padding: 20px 10px;
  font-size: 1.143em;
  background-color: rgba(255, 208, 52,0.8);
  color: #fff;
}

#categHist tr:hover{
  background: rgba(255, 208, 52,0.1);
}

#categHist tbody td{
  width: 60px;
  margin: 0 auto;
  border-bottom: 0.1px solid #242629;
  text-align: center;
  padding: 10px 0;
}

/*Fin estilos de historial de competencias*/

/*Estilos del landing*/

@font-face {
  font-family: 'om-telolet';
  src: url(fonts/om_telolet_om/Om_Telolet_Om.otf);
}

#landing{
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#landing .navbar{
  background-color: inherit;
  border: none;
}

#Navegation{
  margin-bottom: 120px;
}

#landing #titleFCT{
  font-family: 'om-telolet';
  color: #fff;
  font-size: 4.429em;
  margin-bottom: 50px;
}

#landing #infoFCT{
  margin-bottom: 40px;
}

#landing p{
  color: #fff;
  text-align: center;
  line-height: 1.5;
}

#landing #buttonInfo{
  margin-bottom: 200px;
  align-content: center;
}

#landing .md-button{
  background-color: #fcb132;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#landing .md-button:not([disabled]):hover {
    background-color: rgba(252, 177, 50, 0.5);
    transition: 0.3s;
}

#landing #listaNav .dropdown-menu{
  background-color: transparent;
  border: 0.5px solid rgba(252, 177, 50, 0.5);
}

#landing #listaNav .dropdown-menu li a{
  color: #fff;
  font-weight: lighter;
}

#landing #listaNav .dropdown-menu li a:hover{
  background: rgba(252, 177, 50, 0.5);
}

/*Fin estilos del landing*/

/*Inicio estilo de modal de consulta y tabla de historial eventos*/
#table1 h3, #table2 h3, #registerEvents h3{
  font-family: 'Montserrat';
  font-size: 1.571em;
  margin-bottom: 60px;
}

#table1 table, #table2 table{
  width: 100%;
}

#table1 thead, #table1 tbody, #table2 thead, #table2 tbody{
  width: 100%;
}

#table1 tbody, #table2 tbody{
  text-align: center;
}

#table1 tr th, #table2 tr th{
  width: 100px;
  text-align: center;
  margin: 0 auto;
  padding: 20px 10px;
  font-size: 1.143em;
  background-color: #cb3e42;
  color: #fff;
}

#table1 tr:hover, #table2 tr:hover{
  background: rgba(203, 62, 66,0.1);
}

#table1 tbody td, #table2 tbody td{
  width: 100px;
  margin: 0 auto;
  border-bottom: 0.1px solid #242629;
  text-align: center;
  padding: 10px 0;
}

#histTable tbody tr td .md-button{
  color: #fff;
  background: #00978f;
}

#eventName{
  background: #cb3e42;
  text-align: center;
}

#eventName img{
  border-radius: 50%;
  border: 0.5px solid #fff;
}

#eventName h3{
  color: #fff;
  font-weight: bold;
  display: inline;
  font-size: 1.571em;
  font-family: 'Montserrat';
}

#eventInfo{
  padding-top: 20px;
  margin-bottom: 20px;
}

#eventInfo p{
  padding-bottom: 5px;
  line-height: 1;
}

#eventInfo p span{
  font-weight: bold;
}

#buttonInfoEvent .md-button{
  color: #fff;
  background: #00978f;
}

/*Fin estilo de modal de consulta y tabla de historial eventos*/

/*Inicio estilos de cinturones*/
#homeSection div h1{
  font-family: 'Montserrat';
  font-size: 2.143em;
}
#homeSection #beltNum1 h3{
  border: 1px solid #dbd8d8;
  border-radius: 7px;
  color: #242629;
  padding:10px 0;
}

#homeSection #beltNum1 div p{
  color: #242629;
}

#homeSection #beltNum1 h3, #homeSection #beltNum2 h3, #homeSection #beltNum3 h3, #homeSection #beltNum4 h3, #homeSection #beltNum5 h3, #homeSection #beltNum6 h3{
  font-family: 'Montserrat';
  text-align: center;
  font-size: 1.571em;
}

#homeSection #beltNum1 p, #homeSection #beltNum2 p, #homeSection #beltNum3 p, #homeSection #beltNum4 p, #homeSection #beltNum5 p, #homeSection #beltNum6 p{
  line-height: 1.5;
  text-align: justify;
  font-size: 1em;
}

#homeSection div{
  padding-bottom: 10px;
}

#homeSection div p span{
  font-weight: normal;
  font-size: 1.143em;
}

#homeSection #beltNum2 h3{
  border-radius: 7px;
  color: #fff;
  background-color: #fcb132;
  padding:10px 0;
}

#homeSection #beltNum3 h3{
  border-radius: 7px;
  color: #fff;
  background-color: #00a652;
  padding:10px 0;
}

#homeSection #beltNum4 h3{
  border-radius: 7px;
  color: #fff;
  background-color: #0082c8;
  padding:10px 0;
}

#homeSection #beltNum5 h3{
  border-radius: 7px;
  color: #fff;
  background-color: #ee334e;
  padding:10px 0;
}

#homeSection #beltNum6 h3{
  border-radius: 7px;
  color: #fff;
  background-color: #000;
  padding:10px 0;
}
#lastSectBelt{
  margin-bottom: 30px;
}

/*Fin estilos de cinturones*/

/*Inicio estilos de tabla pesos y categorías*/


#homeSection table{
  width: 100%;
  margin: 0 auto;
}

#homeSection thead, #homeSection tbody{
  width: 100%;
}

#homeSection tbody{
  text-align: center;
}

#homeSection tr th{
  width: 16.66%;
  text-align: center;
  margin: 0 auto;
  padding: 20px 0.1%;
  font-size: 1.143em;
  background-color: #00978f;
}

#homeSection tr:hover{
  background: rgba(0, 166, 82,0.1);
}

#homeSection tbody td{
  width: 16.66%;
  margin: 0 auto;
  border-bottom: 0.1px solid #242629;
  text-align: center;
  padding: 10px 0;
}
/*Fin estilos de tabla pesos y categorías */

/*Inicio estilos de pasos formulario eventos*/

#buttonForm div{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ee334e;
  text-align: center;
  margin: 0 1%;
  font-weight: 500;
  cursor: pointer;
  margin-right: 8%;
}

#buttonForm div a{
  color: #ee334e;
  line-height: 2.7;
  text-decoration: none;
  padding: 1.5%;
}

#buttonForm div.active{
  background: #ee334e;
  color: #fff;
}

#buttonForm div.active a{
  color: #fff;
}

md-input-container{
  width: 100%;
}

#reqMsj{
  color: #ee334e;
  font-size: 0.786em;
}

#buttonForm{
  margin-top: 40px;
  margin-bottom: 70px;
}

#botonRadio{
  margin-bottom: 20px;
  margin-top: 20px;
}

#last2Part {
  margin-bottom: 60px;
}

#last2Part label{
  font-size: 1em;
  margin-right: 40px;
}

#buttonLogo{
  background: #cb3e42;
  border-radius: 7px;
  text-align: center;
  color: #fff;
  width: 100%;
}

#messages p {
  text-align: center;
  color: #cb3e42;
}

/*Fin estilos de pasos formulario eventos*/

/*Inicio estilos de tabla modificar y tabla de reservaciones*/

#modTable h3, #reservationsList h3{
  font-family: 'Montserrat';
  font-size: 1.571em;
  margin-bottom: 60px;
}

#modTable table, #reservationsList table{
  width: 100%;
}

#modTable thead, #modTable tbody, #reservationsList thead, #reservationsList tbody{
  width: 100%;
} 

#modTable tbody, #reservationsList tbody{
  text-align: center;
}

#modTable tr th, #reservationsList tr th{
  width: 60px;
  text-align: center;
  margin: 0 auto;
  padding: 20px 10px;
  font-size: 1.143em;
  background-color: #cb3e42;
  color: #fff;
}

#modTable tr:hover, #reservationsList tr:hover{
  background: rgba(203, 62, 66,0.1);
}

#modTable tbody td, #reservationsList tbody td{
  width: 60px;
  margin: 0 auto;
  border-bottom: 0.1px solid #242629;
  text-align: center;
  padding: 10px 0;
}

#modTable .editCxlB{
  background-color: rgba(252, 177, 50, 0.8);
  color: #fff;
}

#modTable .editCxlB:not([disabled]):hover {
    background-color: #fcb132;
    transition: 0.3s;
}

/*Fin estilos tabla modificar*/

/*Inicio estilos de pasos formulario patrocinadores*/

/*Botones*/
#sponsorButtons div{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #fbb03b;
  text-align: center;
  margin: 0 1%;
  font-weight: 500;
  cursor: pointer;
}

#sponsorButtons div a{
  color: #fbb03b;
  line-height: 2.7;
  text-decoration: none;
  padding: 1.5%;
}

#sponsorButtons div.active{
  background: #fbb03b;
  color: #fff;
}

#sponsorButtons div.active a{
  color: #fff;
}

/* Fin estilo botones*/

.sponsor-form{
  margin: 0 auto;
  padding: 1.5% 0;
  box-sizing: border-box;
}

md-icon.sponsor-icon{
  margin: 0 3.5% 0 6%;
  color: #ffd034;
}

.sponsor-p-type{
  line-height: 1.6;
  font-weight: 600;
}
/*Fin estilos de pasos formulario patrocinadores*/

/* Estilos semilla */
md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar){
  background-color: #0082c8;
  height: 80px;
}

.name{
  margin: 10% 0 7.5%;
}

.material-icons.card-icon{
  line-height: 1.85;
  margin-right: 1.5%;
}

i.side-icons{
  font-size: 4rem;
  margin-bottom: 0;
  text-align: center;
}

md-list-item > md-icon:first-child:not(.md-avatar-icon), md-list-item .md-list-item-inner > md-icon:first-child:not(.md-avatar-icon){
  margin: 0;
}

md-list{
  padding: 0;
}

p{
  margin: 0;
  line-height: 0.9;
}

.side-nav md-list md-list-item{
  cursor: pointer;
  border-bottom: 1px solid rgba(255,255,255,0.03);
  padding: 14.75% 0;
  box-sizing: border-box;
}

.layout-column > .flex{
  height: 100%;
}

.body-app{
  min-height: 758px;
}

md-sidenav.md-locked-open, md-sidenav.md-locked-open.md-closed, md-sidenav.md-locked-open.md-closed.md-sidenav-left, md-sidenav.md-locked-open.md-closed, md-sidenav.md-locked-open.md-closed.md-sidenav-right{
  /*background: #303841;*/
  color: #fff;
  background: #242629;
}

/*.home-icon{
  color: #1bc98e;
}

.profile-icon{
  color: #1a80a8;
}

.events-icon{
  color: #e64759;
}

.help-icon{
  color: #fcb132;
}

.register-icon{
  color: #46B7B9;
}*/

/*.side-nav md-list md-list-item:hover{
  background: rgba(255,255,255,0.1);
}*/

.dropdown-menu{
  background: #242629;
  color: #fff;
}

.dropdown-menu ul{
  margin: 0;
  padding: 0;
  align-content: left;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar){
  height: 0;
  background: #242629;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  padding: 4.5% 7.5%;
}

md-toolbar h1{
  margin: 0;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar).tool-icons{
  padding: 0.5% 0;
  background: rgba(0,0,0,0.1);
}

.user-nav-icons{
  color: #242629;
}

md-list-item._md-button-wrap{
  border: 1px solid rgba(0,0,0,0.1);
}

md-list-item > p, md-list-item > .md-list-item-inner > p, md-list-item .md-list-item-inner > p, md-list-item .md-list-item-inner > .md-list-item-inner > p{
  font-weight: 500;
}

.points{
  width: 37.5px;
  height: 37.5px;
  border-radius: 50%;
  background: #1ca8dd;
  color: #fff;
}

.fa-star{
  color: #fbb03b;
  font-size: 1.5rem;
  margin-left: 8%;
}

.person-points{
  font-size: 1.5rem;
  font-weight: 500;
}

.container-competition{
  padding: 5% 0;
}

.container-competition h2{
  padding: 3% 0;
}

.fa-trophy{
  margin-left: 1.5%;
  font-size: 1.8rem;
  color: #fbb03b;
}

md-content{
  box-sizing: border-box;
}

.logo-nav{
  padding:0;
  margin: 0;
  width: 95%;
  margin: 0 auto;
}

.logo-nav img{
  width: 100%;
}

.menu-button{
  text-align: center;
}

md-list-item::before, md-list-item .md-list-item-inner::before{
  min-height: 0;
}

button.button-selected{
  width: auto;
  height: auto;
  padding: 0;
  width: 90%;
  padding: 5% 0;
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
  text-transform: none;
}

/* Fin de estilos base */

/* Login estilos*/

.col-centered{
    float: none;
    margin: 0 auto;
}

.body {
  background: url('../components/login/background-event2.jpg') center center;
  background-size: cover;

  /*background: #254B62;*/
}

:target:before {
  content: "";
  display: block;
  height: 60px;
  /* fixed header height*/
  margin: -60px 0 0;
  /* negative fixed header height */
}

#main-content {
  margin-top: 60px;
}

#startup,
#sub-content,
#sub-content .row {
  margin-top: -70px;
  padding-top: 70px;
}

#sub-content h4 {
  margin-top: 40px;
}

{
  padding-top: 50px;
}

.component {
  margin-top: 40px;
  margin-bottom: 50px;
}

.component h3 {
  font-weight: 500;
  margin-bottom: 30px;
}

.demo {}

.description {
  margin-top: 20px;
  padding: 20px;
}

h2{
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
}

.log-container{
  border: 1px solid rgba(255,255,255,0.2);
  width: 20%;
  margin: 0 auto;
  padding: 1.5%;
  box-sizing: border-box;
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;

}

.btn.btn-raised:not(.btn-link):hover.btn-info, .input-group-btn .btn.btn-raised:not(.btn-link):hover.btn-info, .btn-group-raised .btn:not(.btn-link):hover.btn-info, .btn-group-raised .input-group-btn .btn:not(.btn-link):hover.btn-info, .btn.btn-raised:not(.btn-link):focus.btn-info, .input-group-btn .btn.btn-raised:not(.btn-link):focus.btn-info, .btn-group-raised .btn:not(.btn-link):focus.btn-info, .btn-group-raised .input-group-btn .btn:not(.btn-link):focus.btn-info, .btn.btn-raised:not(.btn-link).active.btn-info, .input-group-btn .btn.btn-raised:not(.btn-link).active.btn-info, .btn-group-raised .btn:not(.btn-link).active.btn-info, .btn-group-raised .input-group-btn .btn:not(.btn-link).active.btn-info, .btn.btn-raised:not(.btn-link):active.btn-info, .input-group-btn .btn.btn-raised:not(.btn-link):active.btn-info, .btn-group-raised .btn:not(.btn-link):active.btn-info, .btn-group-raised .input-group-btn .btn:not(.btn-link):active.btn-info{
  /*background-color: #254B62;*/
  background-color: #1997c6;
}

.btn.btn-raised:not(.btn-link).btn-info{
  /*background-color: #31588A;*/
  /*background-color: #254B62;*/
  background-color: #0082c8;
}

.form-group label.control-label{
  color: #fff;
}

.body{
  padding: 12.5% 0;
}

.logo{
  width: 62.5%;
  margin: 0 auto;
}

.logo img{
  width: 100%;
}

md-input-container label:not(.md-no-float):not(.md-container-ignore), md-input-container .md-placeholder{
  font-size: 1.2rem;
}

.login-icon{
  margin: 0;

}

.login-icon i{
  line-height: 3.55;
  font-size: 1.8rem;
  color: #fff;
}

.form-group{
  margin: 3% 0;
}
/*Fin estilos login*/

/*estilos profesor*/


md-card md-card-title md-card-title-media .md-media-lg{
  width: 75%;
  height: 20%;
}

input.id-email{
  color: #fff;
}

span.md-headline.name-profile{
  font-size: 3rem;
}

span.md-subhead.info-profile{
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding-bottom: 0.75%;
}

.profile-info{
  font-size: 1.6rem;
  margin: 1.5% 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  color: rgba(0,0,0,0.54);
}

.profile-info span{
    color: #000;
}

md-card md-card-title md-card-title-text{
  padding: 1.5% 0;
}

.phone-info{
  line-height: 0;
  margin-left: 0.5%;
}

.contact-info{
  margin: 0.75% 0;
}

/*Estilos competiciones y competidores*/

.avatar{
  width: 30%;
  position: absolute;
  z-index: 4;
  top: 8.5%;
  left: 34%;
  border: 3px solid #fff;
  border-radius: 50%;

}

.card-icon{
  font-size: 2.8rem;
}

.card-icon{
  font-size: 2.8rem;
}

.avatar-test{
  top: 23.5%;
}
md-card md-card-title md-card-title-text:only-child .md-subhead{
  padding: 0;
}

md-card md-card-title{
  padding: 12.5% 2.5% 9%;
}

.user-card{
  position: relative;
}

.avatar img{
  width: 100%;
}

/* Base styles */
md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar){
  background-color: #0082c8;
}

.name{
  margin: 10% 0 7.5%;
}

.name-test{
  margin-bottom: 13%;
  padding: 0.5%  2.25%;
}

.sub-header-test{
  font-size: 1.2rem;
  padding: 0 2.25%;
}

.material-icons.card-icon{
  line-height: 1.85;
  margin-right: 1.5%;
}

i.side-icons{
  font-size: 3.4rem;
  line-height: 0;
  margin: 0;
}

md-list-item > md-icon:first-child:not(.md-avatar-icon), md-list-item .md-list-item-inner > md-icon:first-child:not(.md-avatar-icon){
  margin: 0;
}
span.menu-button{
  margin-left: 5%;
}

md-list{
  padding: 0;
}

.layout-column > .flex{
  height: 100%;
}

.body-app{
  min-height: 758px;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar).red{
  height: 0;
  background: #252830;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  padding: 4.5% 5.5% 35%;
}

md-toolbar h1{
  margin: 0;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar).tool-icons{
  padding: 0.5% 0;
  background: rgba(0,0,0,0.1);
  height: 0;
  padding: 0;
}

.user-nav-icons{
  color: #252830;
}

md-list-item._md-button-wrap{
  border: 1px solid rgba(0,0,0,0.1);
}

md-list-item > p, md-list-item > .md-list-item-inner > p, md-list-item .md-list-item-inner > p, md-list-item .md-list-item-inner > .md-list-item-inner > p{
  font-weight: 500;
}

.points{
  width: 37.5px;
  height: 37.5px;
  border-radius: 50%;
  background: #1ca8dd;
  color: #fff;
}

.fa-star{
  color: #fbb03b;
  font-size: 1.5rem;
  margin-left: 8%;
}

.person-points{
  font-size: 1.5rem;
  font-weight: 500;
}

.container-competition{
  padding: 5% 0;
}

.container-competition h2{
  padding: 3% 0;
}

.fa-trophy{
  margin-left: 1.5%;
  font-size: 1.8rem;
  color: #fbb03b;
}
.logo-nav{
  margin: 0 auto;
  width: 85%;
}

.logo-nav img{
  width: 100%;
}

.star-icon{
  color: #0082c8;
}

.weight-icon{
  color: #242629;
}

.won-icon{
  color: #ffd034;
}

md-card md-card-title.no-padding{
  padding: 0;
}

#map {
        height: 100%;
      }
