<div class="row">
  <div class="col-md-12">

    <!-- Select para seleccionar academia -->
    <md-input-container flex-offset>
      <label>Seleccione el género</label>
      <md-select id="sltGender" ng-model="vm.teacher.gender">
        <md-option value="genero">Academia</md-option>
      </md-select>
    </md-input-container>
    <!-- Select para seleccionar grado -->
    <md-input-container flex-offset>
      <label>Seleccione la nacionalidad</label>
      <md-select id="sltCountry" ng-model="vm.teacher.nationality">
        <md-option ng-repeat='country in vm.countries' value="{{country}}">{{country}}</md-option>
      </md-select>
    </md-input-container>



    <!-- Select para seleccionar academia -->
    <md-input-container flex-offset>
      <label>Seleccione una academia</label>
      <md-select id="sltAcademia" ng-model="vm.teacher.academy" required>
        <md-option ng-repeat="academy in vm.academy" value="{{academy.name}}">{{academy.name}}</md-option>
      </md-select>
    </md-input-container>

    <!-- Select para seleccionar grado -->
    <md-input-container flex-offset>
      <label>Seleccione el grado</label>
      <md-select id="sltGrade" ng-model="vm.teacher.grade">
        <md-option value="grado">Grado1</md-option>
      </md-select>
    </md-input-container>

    <!-- botón para cambiar el estado del competidor -->
    <div class="inset form-group col-xs-12 col-md-4 floating-label-form-group control" ng-cloak>
      <md-switch ng-model="vm.teacher.status" aria-label="Switch 2" ng-true-value="'Activo'" ng-false-value="'Inactivo'" class="md-warn">
        Estado: {{vm.teacher.status}}
      </md-switch>
    </div>

    <!-- botón para adjuntar archivo -->
    <div>
      <label class="btn btn-default btn-file" for="photo">
        Adjuntar logo
      </label>
      <input id="photo" name="photo" type="file" style="display: none" ng-model="vm.teacher.photo">
    </div>

    <!-- botón para guardar datos actualizados -->
    <button type="submit"  ng-disabled="frmRegTeacher.$invalid" ng-click="vm.reset()">Actualizar</button>

    <!-- botón para registrar -->
    <button type="submit" ng-disabled="frmRegTeacher.$invalid || submitDisable" ng-click="vm.reset()">Registrar</button>
    <!-- Botón Anterior -->
    <a ui-sref="admin.teachpart2" class="btn btn-info">Anterior <span class="glyphicon  glyphicon-circle-arrow-left"></span></a>
  </div>
</div>
