	<div class="row">
<div class="col-md-12">

                    				<!-- Select para seleccionar academia -->
                    				<md-input-container flex-offset>
                    				 	<label>Seleccione el género</label>
                    				 	<md-select id="sltGender"  ng-model="vm.teacher.gender" >
                    					 <md-option value="genero">Academia</md-option>
                    				    </md-select>
                    				 </md-input-container>

                    				 <!-- Select para seleccionar grado -->
                    				<md-input-container flex-offset>
                    				    <label>Seleccione la nacionalidad</label>
                    				    <md-select id="sltCountry" ng-model= "vm.teacher.nationality" >
                    					 <md-option value="nacionalidad">Grado1</md-option>
                    				 	</md-select>
                    				 </md-input-container>
                    			

                    			 
                    				<!-- Select para seleccionar academia -->
                    				<md-input-container flex-offset>
                    				   <label>Seleccione una academia</label>
                    				   <md-select id="sltAcademia"  ng-model="vm.teacher.academy" required>
                    				    <md-option value="academia">Academia</md-option>
                    				   </md-select>
                    				</md-input-container>

                    				 <!-- Select para seleccionar grado -->
                    				<md-input-container flex-offset>
                    				    <label>Seleccione el grado</label>
                    				    <md-select id="sltGrade" ng-model= "vm.teacher.grade" >
                    				     <md-option value="grado">Grado1</md-option>
                    				    </md-select>
                    				</md-input-container>
                    			  

                    			 <div>
                    			  	<label class= "btn btn-default btn-file">Adjuntar imagen <input id="photo" type="file" name="photo" style="display:none" ng-model= "vm.teacher.photo"></label>
                    			  </div>
                    			  
     						 	 <button type="submit" ng-click="vm.reset()">Registrar</button> 
     						 	 <!-- Botón Anterior -->
                    				<a ui-sref="admin.teachpart2" class="btn btn-info">Anterior <span class="glyphicon glyphicon-circle-arrow-left"></span></a>
     						 	 </div>
     						 	 </div>
                    			 
                    			 
                    		
                    			