<!-- Sidenav view -->
<div class="body-app md-menu-demo" layout="column" ng-cloak ng-init="selected = 0">
	<div class="side-content-container" layout="row" flex>
		<md-sidenav md-is-locked-open="true" class="md-whiteframe-3dp side-nav" flex="10">
			<md-list>
				<md-list-item>
					<figure class="logo-nav">
					<img src="images/logo.png">
				</figure>
				</md-list-item>
				<md-list-item layout="column">
					<md-button class="button-selected" ng-click="selected = 1" ng-style="selected == 1 ? {'background' : 'rgba(27,201,142,0.7)'} : {'background' : 'inherit'} ">
						<i class="material-icons side-icons home-icon" ng-style="selected == 1 ? {'color': '#fff'} : {'color': '#1bc98e'} ">&#xE88A;</i>
						<p class="menu-button">Home</p>
					</md-button>
				</md-list-item>
				<md-list-item layout="column">
					<md-button class="button-selected" ng-click="selected = 2" ng-style="selected == 2 ? {'background' : 'rgba(0,130,200,0.7)'} : {'background' : 'inherit'} ">
						<i class="material-icons side-icons profile-icon" ng-style="selected == 2 ? {'color': '#fff'} : {'color': '#1a80a8'} ">&#xE853;</i>
						<p class="menu-button">Perfil</p>
					</md-button>
				</md-list-item>
				<md-list-item  layout="column">
					<md-button class="button-selected" ng-click="selected = 3" ng-style="selected == 3 ? {'background' : 'rgba(230,71,89,0.7)'} : {'background' : 'inherit'} ">
						<i class="material-icons side-icons events-icon" ng-style="selected == 3 ? {'color': '#fff'} : {'color': '#e64759'} ">&#xE878;</i>
						<p class="menu-button">Eventos</p>
					</md-button>
				</md-list-item>
				<md-list-item  layout="column">
					<md-button class="button-selected" ng-click="selected = 4" ng-style="selected == 4 ? {'background' : 'rgba(251,176,59,0.7)'} : {'background' : 'inherit'} ">
						<i class="material-icons side-icons help-icon" ng-style="selected == 4 ? {'color': '#fff'} : {'color': '#fbb03b'} ">&#xEB3F;</i>
						<p class="menu-button">Patrocinadores</p>
					</md-button>	
				</md-list-item>
				<md-list-item  layout="column">
					<md-button class="button-selected" ng-click="selected = 5" ng-style="selected == 5 ? {'background' : 'rgba(70, 183, 185, 0.7)'} : {'background' : 'inherit'} ">
						<i class="material-icons side-icons register-icon" ng-style="selected == 5 ? {'color': '#fff'} : {'color': '#46B7B9'} ">&#xE873;</i>
						<p class="menu-button">Registros</p>
					</md-button>	
				</md-list-item>
			</md-list>
		</md-sidenav>
		<md-content id="content" flex>
	  		<md-toolbar class="tool-icons md-whiteframe-3dp" layout="row">
	  			<md-list-item class="noright" flex="20">
    				<img alt="{{ person.name }}" ng-src="{{ person.img }}" class="md-avatar" />
    				<p>Person name{{person.name}}</p>
  				</md-list-item>
    			<div class="md-toolbar-tools" layout="row" layout-align="end center" flex="80">
    				<div class="icons-profile-container">
    					      				<md-icon flex>
      						<i class="material-icons user-nav-icons">&#xE7F4;</i>
      					</md-icon>
    				 <md-menu>
				      <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdMenu, $event)">
				        <md-icon md-menu-origin>
				        	<i class="material-icons user-nav-icons">&#xE8B8;</i>
				        </md-icon>
				      </md-button>
				      <md-menu-content width="4">
				        <md-menu-item>
				          <md-button ng-click="ctrl.redial($event)">
				            Edit profile
				          </md-button>
				        </md-menu-item>
				        <md-menu-item>
				          <md-button disabled="disabled" ng-click="ctrl.checkVoicemail()">
				            
				            Recuperar contraseña
				          </md-button>
				        </md-menu-item>
				        <md-menu-divider></md-menu-divider>
				        <md-menu-item>
				          <md-button ng-click="ctrl.toggleNotifications()">
				            Cerrar sesión
				          </md-button>
				        </md-menu-item>
				      </md-menu-content>
				    </md-menu>
    				</div>
    			</div>
  			</md-toolbar>
  			<!-- Poner la vista aquí 
			
  			!!-->
  			<!-- Vista registros -->
  			<div ng-show="selected == 5" flex="" ng-cloak>
			  <md-content>
			    <md-tabs md-dynamic-height md-border-bottom>
			      <md-tab label="Academias">
			        <md-content class="md-padding">
			          <h1 class="md-display-2">Academias</h1>
			          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
			        </md-content>
			      </md-tab>
			      <md-tab label="Profesores">
			        <md-content class="md-padding">
			          <h1 class="md-display-2">Profesores</h1>
			          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
			          <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
			          <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
			        </md-content>
			      </md-tab>

			      <!-- Tab de Eventos -->
			      <md-tab label="Eventos">
			        <md-content class="md-padding">
			          <h1 class="md-display-2">Eventos</h1>
			          <!-- links de cada paso del formulario -->
			          <div id="statusButtons" class="text-center">
			          	<a ui-sref-active="active" ui-sref=".part1"><span>1</span></a>
			          	<a ui-sref-active="active" ui-sref=".part2"><span>2</span></a>
			          	<a ui-sref-active="active" ui-sref=".part3"><span>3</span></a>
			          	<a ui-sref-active="active" ui-sref=".part4"><span>4</span></a>
			          	<a ui-sref-active="active" ui-sref=".part5"><span>5</span></a>
			          	<a ui-sref-active="active" ui-sref=".part6"><span>6</span></a>
			          </div>

			          <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-offset-8">
			          	<!-- Formulario para registro de eventos -->
			          	<form id="sign-form" name="frmEventInfo" autocomplete="off">
		          		
		          			<!-- Espacio para mostrar vistas del registro -->
		          			<div id="form-views" ui-view></div>
			          	</form>
			          </div>

			          
			        </md-content>
			      </md-tab>

			      <!-- Tab de patrocinadores -->
			      <md-tab label="Patrocinadores">
			        <md-content class="md-padding">
			          <h1 class="md-display-2">Patrocinadores</h1>
			          <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
			        </md-content>
			      </md-tab>
			    </md-tabs>
			  </md-content>
			</div>
			<div ng-show="selected == 3">
				<p>gv hngvtvv</p>
			</div>

  			

		</md-content>

	</div>
</div>