<!-- Sidenav view -->
<div class="body-app md-menu-demo" layout="column" ng-cloak ng-init="selected = 0">
	<div class="side-content-container" layout="row" flex>
		<md-sidenav md-is-locked-open="true" class="md-whiteframe-3dp side-nav" flex="10">
			<md-list>
				<md-list-item>
					<figure class="logo-nav">
					<img src="images/logo.png">
				</figure>
				</md-list-item>
				<md-list-item layout="column">
					<md-button class="button-selected" ng-click="selected = 1" ng-style="selected == 1 ? {'background' : 'rgba(27,201,142,0.7)'} : {'background' : 'inherit'} ">
						<i class="material-icons side-icons home-icon" ng-style="selected == 1 ? {'color': '#fff'} : {'color': '#1bc98e'} ">&#xE88A;</i>
						<p class="menu-button">Home</p>
					</md-button>
				</md-list-item>
				<md-list-item layout="column">
					<md-button class="button-selected" ng-click="selected = 2" ng-style="selected == 2 ? {'background' : 'rgba(0,130,200,0.7)'} : {'background' : 'inherit'} ">
						<i class="material-icons side-icons profile-icon" ng-style="selected == 2 ? {'color': '#fff'} : {'color': '#1a80a8'} ">&#xE853;</i>
						<p class="menu-button">Perfil</p>
					</md-button>
				</md-list-item>
				<md-list-item  layout="column">
					<md-button class="button-selected" ng-click="selected = 3" ng-style="selected == 3 ? {'background' : 'rgba(230,71,89,0.7)'} : {'background' : 'inherit'} ">
						<i class="material-icons side-icons events-icon" ng-style="selected == 3 ? {'color': '#fff'} : {'color': '#e64759'} ">&#xE878;</i>
						<p class="menu-button">Eventos</p>
					</md-button>
				</md-list-item>
				<md-list-item  layout="column">
					<md-button class="button-selected" ng-click="selected = 4" ng-style="selected == 4 ? {'background' : 'rgba(251,176,59,0.7)'} : {'background' : 'inherit'} ">
						<i class="material-icons side-icons help-icon" ng-style="selected == 4 ? {'color': '#fff'} : {'color': '#fbb03b'} ">&#xEB3F;</i>
						<p class="menu-button">Patrocinadores</p>
					</md-button>
				</md-list-item>
				<md-list-item  layout="column">
					<md-button class="button-selected" ng-click="selected = 5" ng-style="selected == 5 ? {'background' : 'rgba(70, 183, 185, 0.7)'} : {'background' : 'inherit'} ">
						<i class="material-icons side-icons register-icon" ng-style="selected == 5 ? {'color': '#fff'} : {'color': '#46B7B9'} ">&#xE873;</i>
						<p class="menu-button">Registros</p>
					</md-button>
				</md-list-item>
			</md-list>
		</md-sidenav>
		<md-content id="content" flex>
	  		<md-toolbar class="tool-icons md-whiteframe-3dp" layout="row">
	  			<md-list-item class="noright" flex="20">
    				<img alt="{{ person.name }}" ng-src="{{ person.img }}" class="md-avatar" />
    				<p>Person name{{person.name}}</p>
  				</md-list-item>
    			<div class="md-toolbar-tools" layout="row" layout-align="end center" flex="80">
    				<div class="icons-profile-container">
    					      				<md-icon flex>
      						<i class="material-icons user-nav-icons">&#xE7F4;</i>
      					</md-icon>
    				 <md-menu>
				      <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdMenu, $event)">
				        <md-icon md-menu-origin>
				        	<i class="material-icons user-nav-icons">&#xE8B8;</i>
				        </md-icon>
				      </md-button>
				      <md-menu-content width="4">
				        <md-menu-item>
				          <md-button ng-click="ctrl.redial($event)">
				            Edit profile
				          </md-button>
				        </md-menu-item>
				        <md-menu-item>
				          <md-button disabled="disabled" ng-click="ctrl.checkVoicemail()">

				            Recuperar contraseña
				          </md-button>
				        </md-menu-item>
				        <md-menu-divider></md-menu-divider>
				        <md-menu-item>
				          <md-button ng-click="ctrl.toggleNotifications()">
				            Cerrar sesión
				          </md-button>
				        </md-menu-item>
				      </md-menu-content>
				    </md-menu>
    				</div>
    			</div>
  			</md-toolbar>
  			<!-- Poner la vista aquí

  			!!-->
  			<div ng-show="selected == 5" flex="" ng-cloak>
			  <md-content>
			    <md-tabs md-dynamic-height md-border-bottom>
			      <md-tab label="Registro de academias">
			        <md-content class="md-padding">
			          <h1 class="md-display-2">Registro de academias</h1>
								<div class="container-fluid row">
									<div class="col-xs-12">
										<form name="frmAcademy" novalidate autocomplete="off">
											<!-- input nombre de acdemia -->
											<div class="col-xs-12 col-sm-6">
												<md-input-container flex-offset class="md-block">
													<label for="">Nombre de academia</label>
													<input name="name" type="text" ng-model="vm.name" required/>
													<!-- Mensaje de retroalimentacion -->
													<div ng-messages="frmAcademy.name.$error">
														<div ng-messages-include="components/includes/messages.html"></div>
													</div>
												</md-input-container>
											</div>
											<!-- input de direcion -->
											<div class="col-xs-12 col-sm-6">
												<md-input-container flex-offset class="md-block">
													<label for="">Dirección</label>
													<input type="text" ng-model="vm.address" required/>
													<!-- Mensaje de retroalimentacion -->
													<div ng-messages="frmAcademy.name.$error">
														<div ng-messages-include="components/includes/messages.html"></div>
													</div>
												</md-input-container>
											</div>
											<!-- input de encargado -->
											<div class="col-xs-12 col-sm-6">
												<md-input-container flex-offset class="md-block">
													<label for="">Nombre del encargado</label>
													<input type="text" ng-model="vm.manager" required/>
													<!-- Mensaje de retroalimentacion -->
													<div ng-messages="frmAcademy.name.$error">
														<div ng-messages-include="components/includes/messages.html"></div>
													</div>
												</md-input-container>
											</div>
											<!-- input de cantidad de competidores -->
											<div class="col-xs-12 col-sm-6">
												<md-input-container flex-offset class="md-block">
													<label for="">Cantidad de competidores</label>
													<input type="number" ng-model="vm.competitors" required/>
													<!-- Mensaje de retroalimentacion -->
													<div ng-messages="frmAcademy.name.$error">
														<div ng-messages-include="components/includes/messages.html"></div>
													</div>
												</md-input-container>
											</div>
											<!-- input de telefono -->
											<div class="col-xs-12 col-sm-6">
												<md-input-container flex-offset class="md-block">
													<label for="">Teléfono</label>
													<input type="text" ng-model="vm.phone" required/>
													<!-- Mensaje de retroalimentacion -->
													<div ng-messages="frmAcademy.name.$error">
														<div ng-messages-include="components/includes/messages.html"></div>
													</div>
												</md-input-container>
											</div>
											<!-- input de email -->
											<div class="col-xs-12 col-sm-6">
												<md-input-container flex-offset class="md-block">
													<label for="">Email</label>
													<input type="text" ng-model="vm.email" required/>
													<!-- Mensaje de retroalimentacion -->
													<div ng-messages="frmAcademy.name.$error">
														<div ng-messages-include="components/includes/messages.html"></div>
													</div>
												</md-input-container>
											</div>
											<!-- boton para guardar -->
											<md-button ng-click="vm.createAcademy()" class="md-raised" ng-disabled="frmAcademy.$invalid">Agregar Academia</md-button>
											<!-- boton para editar -->
											<md-button ng-click="vm.updateAcademy()" class="md-raised" ng-disabled="frmAcademy.$invalid">Editar Academia</md-button>
										</form>
									</div>
								</div>
								<!-- filtro por nombre -->
								<div class="col-xs-12 col-sm-4 pull-right">
									<md-input-container flex-offset class="md-block">
										<label for="">Filtrar por nombre</label>
										<input type="text" name="academyFilter" ng-model="vm.academyFilter"/>
									</md-input-container>
								</div>
								<!-- tabla -->
									<div class="container-fluid row">
										<div class="col-xs-12">
											<table class="table col-xs-12">
												<thead>
													<tr>
														<th>Nombre de la academia</th>
														<th>Dirección</th>
														<th>Encargado</th>
														<th>Cantidad de competidores</th>
														<th>teléfono</th>
														<th>Email</th>
														<th></th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="academy in vm.academy | filter:{name:vm.academyFilter}">
														<td>{{academy.name}}</td>
														<td>{{academy.address}}</td>
														<td>{{academy.manager}}</td>
														<td>{{academy.competitors}}</td>
														<td>{{academy.phone}}</td>
														<td>{{academy.email}}</td>
														<td><md-button ng-click="vm.getAcademy(academy)" class="md-raised">Editar</md-button></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
							</md-content>
			      </md-tab>
			      <md-tab label="Registro de profesores">
			        <md-content class="Registro de profesores">
			          <h1 class="md-display-2">Registro de profesores</h1>
			          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
			          <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
			          <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
			        </md-content>
			      </md-tab>
						<md-tab label="Registro de alumnos">
							<md-content class="md-padding">
								<h1 class="md-display-2">Registro de alumnos</h1>
								<div class="container-fluid row">
									<div class="col-xs-12">
										<form name="frmStudent" novalidate autocomplete="off">
											<!-- input de cedula -->
											<div class="col-xs-12 col-sm-6">
												<md-input-container flex-offset class="md-block">
													<label for="">Cédula</label>
													<input name="id" type="text" ng-model="vm.id" required/>
													<!-- Mensaje de retroalimentacion -->
													<div ng-messages="frmStudent.id.$error">
														<div ng-messages-include="components/includes/messages.html"></div>
													</div>
												</md-input-container>
											</div>
											<!-- input de  Fecha de nacimiento -->
											<div class="col-xs-12 col-sm-6">
												<md-input-container flex-offset class="md-block">
													<label for="">Fecha de nacimiento</label>
													<md-datepicker ng-model="vm.birthday" md-current-view="year" required></md-datepicker>
												</md-input-container>
											</div>
											<!-- input de primer nombre -->
											<div class="col-xs-12 col-sm-6">
												<md-input-container flex-offset class="md-block">
													<label for="">Primer nombre</label>
													<input name="firstName" type="text" ng-model="vm.firstName" required/>
													<!-- Mensaje de retroalimentacion -->
													<div ng-messages="frmStudent.firstName.$error">
														<div ng-messages-include="components/includes/messages.html"></div>
													</div>
												</md-input-container>
											</div>
											<!-- input de  segundo nombre-->
											<div class="col-xs-12 col-sm-6">
												<md-input-container flex-offset class="md-block">
													<label for="">Segundo nombre</label>
													<input name="secondName" type="text" ng-model="vm.secondName" />
													<!-- Mensaje de retroalimentacion -->
													<div ng-messages="frmStudent.secondName.$error">
														<div ng-messages-include="components/includes/messages.html"></div>
													</div>
												</md-input-container>
											</div>
											<!-- input de primer apellido -->
											<div class="col-xs-12 col-sm-6">
												<md-input-container flex-offset class="md-block">
													<label for="">Primer apellido</label>
													<input name="firstLastName" type="text" ng-model="vm.firstLastName" required/>
													<!-- Mensaje de retroalimentacion -->
													<div ng-messages="frmStudent.firstLastName.$error">
														<div ng-messages-include="components/includes/messages.html"></div>
													</div>
												</md-input-container>
											</div>
											<!-- input de  segundo apellido -->
											<div class="col-xs-12 col-sm-6">
												<md-input-container flex-offset class="md-block">
													<label for="">Segundo apellido</label>
													<input name="secondLastName" type="text" ng-model="vm.secondLastName" required/>
													<!-- Mensaje de retroalimentacion -->
													<div ng-messages="frmStudent.secondLastName.$error">
														<div ng-messages-include="components/includes/messages.html"></div>
													</div>
												</md-input-container>
											</div>
											<!-- input de género -->
											<div class="col-xs-12 col-sm-6">
												<md-input-container flex-offset class="md-block">
													<label for="">Género</label>
													<input name="genre" type="text" ng-model="vm.genre" required/>
													<!-- Mensaje de retroalimentacion -->
													<div ng-messages="frmStudent.genre.$error">
														<div ng-messages-include="components/includes/messages.html"></div>
													</div>
												</md-input-container>
											</div>
											<!-- input de peso -->
											<div class="col-xs-12 col-sm-3">
												<md-input-container flex-offset class="md-block">
													<label for="">Peso</label>
													<input name="weight" type="number" ng-model="vm.weight" required/>
													<!-- Mensaje de retroalimentacion -->
													<div ng-messages="frmStudent.weight.$error">
														<div ng-messages-include="components/includes/messages.html"></div>
													</div>
												</md-input-container>
											</div>
											<!-- input de altura -->
											<div class="col-xs-12 col-sm-3">
												<md-input-container flex-offset class="md-block">
													<label for="">Altura</label>
													<input name="height" type="number" ng-model="vm.height" required/>
													<!-- Mensaje de retroalimentacion -->
													<div ng-messages="frmStudent.height.$error">
														<div ng-messages-include="components/includes/messages.html"></div>
													</div>
												</md-input-container>
											</div>
											<!-- input de nacionalidad -->
											<div class="col-xs-12 col-sm-6">
												<md-input-container flex-offset class="md-block">
													<label for="">Nacionalidad</label>
													<input name="nationality" type="text" ng-model="vm.nationality" required/>
													<!-- Mensaje de retroalimentacion -->
													<div ng-messages="frmStudent.nationality.$error">
														<div ng-messages-include="components/includes/messages.html"></div>
													</div>
												</md-input-container>
											</div>
											<!-- input de télefono -->
											<div class="col-xs-12 col-sm-6">
												<md-input-container flex-offset class="md-block">
													<label for="">Télefono</label>
													<input name="phone" type="text" ng-model="vm.phone" required/>
													<!-- Mensaje de retroalimentacion -->
													<div ng-messages="frmStudent.phone.$error">
														<div ng-messages-include="components/includes/messages.html"></div>
													</div>
												</md-input-container>
											</div>
											<!-- input de email -->
											<div class="col-xs-12 col-sm-6">
												<md-input-container flex-offset class="md-block">
													<label for="">Email</label>
													<input name="email" type="text" ng-model="vm.email" required/>
													<!-- Mensaje de retroalimentacion -->
													<div ng-messages="frmStudent.email.$error">
														<div ng-messages-include="components/includes/messages.html"></div>
													</div>
												</md-input-container>
											</div>
											<!-- input de academia -->
											<div class="col-xs-12 col-sm-6">
												<md-input-container flex-offset class="md-block">
													<label for="">Academia</label>
													<input name="attendAcademy" type="text" ng-model="vm.attendAcademy" required/>
													<!-- Mensaje de retroalimentacion -->
													<div ng-messages="frmStudent.attendAcademy.$error">
														<div ng-messages-include="components/includes/messages.html"></div>
													</div>
												</md-input-container>
											</div>
											<!-- input de profesor -->
											<div class="col-xs-12 col-sm-6">
												<md-input-container flex-offset class="md-block">
													<label for="">Profesor</label>
													<input name="teacher" type="text" ng-model="vm.teacher" required/>
													<!-- Mensaje de retroalimentacion -->
													<div ng-messages="frmStudent.teacher.$error">
														<div ng-messages-include="components/includes/messages.html"></div>
													</div>
												</md-input-container>
											</div>
											<!-- input de cinta -->
											<div class="col-xs-12 col-sm-6">
												<md-input-container flex-offset class="md-block">
													<label for="">Cinta</label>
													<input name="belt" type="text" ng-model="vm.belt" required/>
													<!-- Mensaje de retroalimentacion -->
													<div ng-messages="frmStudent.belt.$error">
														<div ng-messages-include="components/includes/messages.html"></div>
													</div>
												</md-input-container>
											</div>
											<!-- input de categoría -->
											<div class="col-xs-12 col-sm-6">
												<md-input-container flex-offset class="md-block">
													<label for="">Categoría</label>
													<input name="category" type="text" ng-model="vm.category" required/>
													<!-- Mensaje de retroalimentacion -->
													<div ng-messages="frmStudent.category.$error">
														<div ng-messages-include="components/includes/messages.html"></div>
													</div>
												</md-input-container>
											</div>
											<!-- input de torneos participaddos -->
											<div class="col-xs-12 col-sm-3">
												<md-input-container flex-offset class="md-block">
													<label for="">Torneos participaddos</label>
													<input name="tournaments" type="number" ng-model="vm.tournaments" required/>
													<!-- Mensaje de retroalimentacion -->
													<div ng-messages="frmStudent.tournaments.$error">
														<div ng-messages-include="components/includes/messages.html"></div>
													</div>
												</md-input-container>
											</div>
											<!-- input de torneos ganados -->
											<div class="col-xs-12 col-sm-3">
												<md-input-container flex-offset class="md-block">
													<label for="">Torneos ganados</label>
													<input name="tournamentsWins" type="number" ng-model="vm.tournamentsWins" required/>
													<!-- Mensaje de retroalimentacion -->
													<div ng-messages="frmStudent.tournamentsWins.$error">
														<div ng-messages-include="components/includes/messages.html"></div>
													</div>
												</md-input-container>
											</div>
											<!-- boton para guardar -->
											<md-button ng-click="vm.createStudent()" class="md-raised" ng-disabled="frmStudent.$invalid">Agregar Alumno</md-button>
											<!-- boton para editar -->
											<md-button ng-click="vm.updateStudent()" class="md-raised" ng-disabled="frmStudent.$invalid">Editar Alumno</md-button>
										</form>
									</div>
								</div>
								<!-- filtro por nombre -->
								<div class="col-xs-12 col-sm-4 pull-right">
									<md-input-container flex-offset class="md-block">
										<label for="">Filtrar por nombre</label>
										<input type="text" name="studentFilter" ng-model="vm.studentFilter"/>
									</md-input-container>
								</div>
								<!-- tabla -->
									<div class="container-fluid row">
										<div class="col-xs-12">
											<table class="table col-xs-12">
												<thead>
													<tr>
														<th>Cédula</th>
														<th>Nombre completo</th>
														<th>Profesor</th>
														<th>Cinta</th>
														<th>Categoria</th>
														<th>Email</th>
														<th></th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="student in vm.user | filter:{firstName:vm.studentFilter}">
														<td>{{student.id}}</td>
														<td>{{student.firstName}} {{student.secondName}} {{student.firstLastName}} {{student.secondLastName}}</td>
														<td>{{student.teacher}}</td>
														<td>{{student.belt}}</td>
														<td>{{student.category}}</td>
														<td>{{student.email}}</td>
														<td><md-button ng-click="vm.getStudent(student)" class="md-raised">Editar</md-button></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
							</md-content>
						</md-tab>
			      <md-tab label="Registro de patrocinadores">
			        <md-content class="md-padding">
			          <h1 class="md-display-2">Registro de patrocinadores</h1>
			          <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
			        </md-content>
			      </md-tab>
			    </md-tabs>
			  </md-content>
			</div>
		</md-content>
	</div>
</div>
