<!-- Sidenav view -->
<div class="body-app md-menu-demo" layout="column" ng-cloak ng-init="selected = 0">
	<div class="side-content-container" layout="row" flex>
		<md-sidenav md-is-locked-open="true" class="md-whiteframe-3dp side-nav" flex="10" flex-sm="15" flex-xs="20">
			<md-list>
				<md-list-item>
					<figure class="logo-nav">
					<img src="images/logo.png">
				</figure>
				</md-list-item>
				<md-list-item layout="column">
					<md-button class="button-selected" ng-click="vm.selected = 1" ng-style="vm.selected == 1 ? {'background' : 'rgba(27,201,142,0.7)'} : {'background' : 'inherit'} ">
						<i class="material-icons side-icons home-icon" ng-style="vm.selected == 1 ? {'color': '#fff'} : {'color': '#1bc98e'} ">&#xE88A;</i>
						<p class="menu-button">Home</p>
					</md-button>
				</md-list-item>
				<md-list-item layout="column">
					<md-button class="button-selected" ng-click="vm.selected = 2" ng-style="vm.selected == 2 ? {'background' : 'rgba(0,130,200,0.7)'} : {'background' : 'inherit'} ">
						<i class="material-icons side-icons profile-icon" ng-style="vm.selected == 2 ? {'color': '#fff'} : {'color': '#1a80a8'} ">&#xE853;</i>
						<p class="menu-button">Perfil</p>
					</md-button>
				</md-list-item>
				<md-list-item  layout="column">
					<md-button class="button-selected" ng-click="vm.selected = 3" ng-style="vm.selected == 3 ? {'background' : 'rgba(230,71,89,0.7)'} : {'background' : 'inherit'} ">
						<i class="material-icons side-icons events-icon" ng-style="vm.selected == 3 ? {'color': '#fff'} : {'color': '#e64759'} ">&#xE878;</i>
						<p class="menu-button">Eventos</p>
					</md-button>
				</md-list-item>
				<md-list-item  layout="column">
					<md-button class="button-selected" ng-click="vm.selected = 4" ng-style="vm.selected == 4 ? {'background' : 'rgba(252, 177, 50, 0.7)'} : {'background' : 'inherit'} ">
						<i class="material-icons side-icons help-icon" ng-style="vm.selected == 4 ? {'color': '#fff'} : {'color': '#fcb132'} ">&#xEB3F;</i>
						<p class="menu-button">Patrocinadores</p>
					</md-button>
				</md-list-item>
				<md-list-item  layout="column">
					<md-button class="button-selected" ng-click="vm.selected = 5" ng-style="vm.selected == 5 ? {'background' : 'rgba(70, 183, 185, 0.7)'} : {'background' : 'inherit'} ">
						<i class="material-icons side-icons register-icon" ng-style="vm.selected == 5 ? {'color': '#fff'} : {'color': '#46B7B9'} ">&#xE873;</i>
						<p class="menu-button">Registros</p>
					</md-button>
				</md-list-item>
			</md-list>
		</md-sidenav>
		<md-content id="content" flex>
	  		<md-toolbar class="tool-icons md-whiteframe-3dp" layout="row">
	  			<md-list-item class="noright" flex="20">
    				<img alt="{{ person.name }}" ng-src="{{ person.img }}" class="md-avatar" />
    				<p>Person name{{person.name}}</p>
  				</md-list-item>
    			<div class="md-toolbar-tools" layout="row" layout-align="end center" flex="80">
    				<div class="icons-profile-container">
    					      				<md-icon flex>
      						<i class="material-icons user-nav-icons">&#xE7F4;</i>
      					</md-icon>
    				 <md-menu>
				      <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="vm.openMenu($mdMenu, $event)">
				        <md-icon md-menu-origin>
				        	<i class="material-icons user-nav-icons">&#xE8B8;</i>
				        </md-icon>
				      </md-button>
				      <md-menu-content width="4">
				        <md-menu-item>
				          <md-button ng-click="ctrl.redial($event)">
				            Edit profile
				          </md-button>
				        </md-menu-item>
				        <md-menu-item>
				          <md-button disabled="disabled" ng-click="ctrl.checkVoicemail()">

				            Recuperar contraseña
				          </md-button>
				        </md-menu-item>
				        <md-menu-divider></md-menu-divider>
				        <md-menu-item>
				          <md-button ng-click="vm.logOut()">
				            Cerrar sesión
				          </md-button>
				        </md-menu-item>
				      </md-menu-content>
				    </md-menu>
    				</div>
    			</div>
  			</md-toolbar>
  			<!-- Poner la vista aquí

  			!!-->
  			<!--Vista patrocinadores-->
  			<div ng-show="vm.selected == 4" ng-cloak>
  				<md-content layout="row">
  					<md-card ng-repeat="item in vm.sponsors" flex="20">
				        <img ng-src="{{item.sponsorPhoto}}" class="md-card-image" alt="Washed Out">
				        <md-card-title>
				          <md-card-title-text>
				            <span class="md-headline">{{item.sponsorName}}</span>
				            <span class="md-subhead">{{item.sponsorCompany}}</span>
				          </md-card-title-text>
				        </md-card-title>
				        <div layout="row">
				        	<md-icon class="sponsor-icon" ng-if="item.sponsorType == 'money'">
					        	<i class="material-icons">&#xE227;</i>
					        </md-icon>
					        <md-icon class="sponsor-icon" ng-if="item.sponsorType == 'equipo'">
					        	<i class="material-icons">&#xE903;</i>
					        </md-icon>
					        <md-icon class="sponsor-icon" ng-if="item.sponsorType == 'food'">
					        	<i class="material-icons">&#xE8CC;</i>
					        </md-icon>
					        <p class="sponsor-p-type">{{item.sponsorType}}</p>
				        </div>
				        	<md-card-content>
					          <p>
					            {{item.sponsorDescription}}
					          </p>
					        </md-card-content>
				        <md-card-actions layout="row" layout-align="end">
				          <md-button ng-click="vm.getSponsorInfo(item)">Editar</md-button>
				        </md-card-actions>
			      </md-card>
  				</md-content>
  			</div>
  			<!-- Vista registros -->
  			<div ng-show="vm.selected == 5" flex="" ng-cloak>
			  <md-content>
			    <md-tabs md-dynamic-height md-border-bottom>
			      <md-tab label="Academias">
			        <md-content class="md-padding">
			          <h1 class="md-display-2">Academias</h1>
			          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
			        </md-content>
			      </md-tab>


			      <md-tab label="Profesores">
			        <md-content class="md-padding">
			          <h1 class="md-display-2">Profesores</h1>
     			         <div class="hola" layout="row">
                				 <form name="frmRegTeacher" autocomplete="off"  ng-submit="vm.presaveTeacher(vm.teacher)">

     	           				 <!--Campo para la cédula -->
     	           				 <md-input-container flex-offset>
     	               			    <label>Cédula</label>
     	                			<input name="teacherId" ng-model="vm.teacher.id" ng-pattern="/^[0-9]{9}$/" required>

     	                		 <!-- Mensaje de retroalimentacion -->
								  <div ng-messages="frmRegTeacher.teacherId.$error">
								  	<div ng-messages-include="components/includes/messages.html"></div>
								  </div>
     	                		</md-input-container>

     	                		 <!-- Campo para el primer nombre -->
     	                		 <md-input-container flex-offset>
     	               			    <label>Primer nombre</label>
     	                			<input name="teacherFirstName" ng-model="vm.teacher.firstName" ng-pattern="/^[a-zA-Z_-]{3,30}$/" required>


     	                		<!-- Mensaje de retroalimentacion -->
								  <div ng-messages="frmRegTeacher.teacherFirstName.$error">
								  	<div ng-messages-include="components/includes/messages.html"></div>
								  </div>
     	                		</md-input-container>

     	                		<!-- Campo para el segundo nombre -->
     							<md-input-container flex-offset>
     	               				<label>Segundo nombre</label>
     	                			<input name="teacherSecondName" ng-model="vm.teacher.secondName" ng-pattern="/^[a-zA-Z_-]{3,30}$/">
     	                		</md-input-container>

     	                		<!-- Campo para el primer Apellido -->
     							<md-input-container flex-offset>
     	               				<label>Primer apellido</label>
     	                			<input name="teacherFirstLastName" ng-model="vm.teacher.firstLastName" ng-pattern="/^[a-zA-Z_-]{3,30}$/" required>

     	                			<!-- Mensaje de retroalimentacion -->
								  <div ng-messages="frmRegTeacher.teacherFirstLastName.$error">
								  	<div ng-messages-include="components/includes/messages.html"></div>
								  </div>
     	                		</md-input-container>

     	                		<!-- Campo para el segundo apellido -->
     							<md-input-container flex-offset>
     	               				<label>Segundo apellido</label>
     	                			<input name="teacherSecondLastName" ng-model="vm.teacher.secondLastName" ng-pattern="/^[a-zA-Z_-]{3,30}$/" required>
     	                		</md-input-container>

                				 	<!-- Campo para telefono -->
                				   <md-input-container flex-offset>
                    				<label>Télefono</label>
                     			    <input name="teacherPhone" ng-model="vm.teacher.phone" ng-pattern="/^[0-9]{8}$/" required>

                     			    <!-- Mensaje de retroalimentacion -->
								  <div ng-messages="frmRegTeacher.teacherPhone.$error">
								  	<div ng-messages-include="components/includes/messages.html"></div>
								  </div>
                     		   </md-input-container>

                     			<!-- Campo para correo -->
                   				<md-input-container flex-offset>
                    				 	<label>Correo electrónico</label>
                    				 	<input name="teacherEmail" ng-model="vm.teacher.email" ng-pattern="/^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/" required>

                    				 	  <!-- Mensaje de retroalimentacion -->
								  <div ng-messages="frmRegTeacher.teacherEmail.$error">
								  	<div ng-messages-include="components/includes/messages.html"></div>
								  </div>
                    			</md-input-container>

                    				 <!-- Calendario Fecha Nacimiento -->
      							<md-input-container flex-offset>
          					 		<md-datepicker name="teacherBornDate" ng-model="vm.teacher.myDate" md-placeholder="Ingrese una fecha" required></md-datepicker>

          					 		 	  <!-- Mensaje de retroalimentacion -->
								  <div ng-messages="frmRegTeacher.teacherBornDate.$error">
								  	<div ng-messages-include="components/includes/messages.html"></div>
								  </div>
         						</md-input-container>

         					<div class="col-md-12">

                    				<!-- Select para seleccionar academia -->
                    				<md-input-container flex-offset>
                    				 	<label>Seleccione el género</label>
                    				 	<md-select id="sltGender"  ng-model="vm.teacher.gender" >
                    					 <md-option value="genero">Academia</md-option>
                    				    </md-select>
                    				 </md-input-container>

                    				 <!-- Select para seleccionar grado -->
                    				<md-input-container flex-offset>
                    				    <label>Seleccione la nacionalidad</label>
                    				    <md-select id="sltCountry" ng-model= "vm.teacher.nationality" >
                    					 <md-option value="nacionalidad">Grado1</md-option>
                    				 	</md-select>
                    				 </md-input-container>
                    			</div>

                    			 <div layout="row">
                    			  <div>
                    				<!-- Select para seleccionar academia -->
                    				<md-input-container flex-offset>
                    				   <label>Seleccione una academia</label>
                    				   <md-select id="sltAcademia"  ng-model="vm.teacher.academy" required>
                    				    <md-option value="academia">Academia</md-option>
                    				   </md-select>
                    				</md-input-container>

                    				 <!-- Select para seleccionar grado -->
                    				<md-input-container flex-offset>
                    				    <label>Seleccione el grado</label>
                    				    <md-select id="sltGrade" ng-model= "vm.teacher.grade" >
                    				     <md-option value="grado">Grado1</md-option>
                    				    </md-select>
                    				</md-input-container>
                    			  </div>

                    			 <div>
                    			  	<label class= "btn btn-default btn-file">Adjuntar imagen <input id="photo" type="file" name="photo" style="display:none" ng-model= "vm.teacher.photo"></label>
                    			  </div>

     						 	 <button type="submit" ng-click="vm.reset()">Registrar</button>
                    			 </div>
                    			 </form>
                    		</div>
                    			 </md-content>

			      </md-tab>

			      <!-- Tab de Eventos -->
			      <md-tab label="Eventos" ui-sref=".part1">
			        <md-content class="md-padding">
			          <h1 class="md-display-2">Eventos</h1>
			          <!-- links de cada paso del formulario -->
			          <div class="text-center statusButtons">
			          	<a ui-sref-active="active" ui-sref=".part1"><span>1</span></a>
			          	<a ui-sref-active="active" ui-sref=".part2"><span>2</span></a>
			          	<a ui-sref-active="active" ui-sref=".part3"><span>3</span></a>
			          	<a ui-sref-active="active" ui-sref=".part4"><span>4</span></a>
			          	<a ui-sref-active="active" ui-sref=".part5"><span>5</span></a>
			          	<a ui-sref-active="active" ui-sref=".part6"><span>6</span></a>
			          </div>

			          <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-offset-8">

			          	<!-- Formulario para registro de eventos -->
			          	<form id="sign-form" name="frmEventInfo" autocomplete="off" ng-submit="vm.presaveEvent(vm.event)">

		          			<!-- Espacio para mostrar vistas del registro -->
		          			<div id="form-views" ui-view></div>
			          	</form>
			          </div>

						<!-- Tabla para listar eventos -->
			          <div>
			          	<table>
						    <thead>
						      	<tr>
							        <th>Fecha</th>
							        <th>Nombre del Evento</th>
							        <th>Lugar</th>
						      	</tr>
						    </thead>
						    <tbody>
						      	<tr ng-repeat="event in vm.events track by $index">
							        <td>{{event.date1}}</td>
							        <td>{{event.eventName}}</td>
							        <td>{{event.placeName}}</td>
							        <td><img ng-src="{{event.photo}}" alt="Description" width="60px" height="60px" /></td>

							    	<!-- Botones para editar y cancelar eventos -->
							        <td><input type="button" value="Editar" ng-click="vm.getInfo(event)"></td>
							        <td><input type="button" value="Cancelar"></td>
						      	</tr>
						    </tbody>
					  	</table>

			          </div>




			        </md-content>
			      </md-tab>

			      <!-- Tab de patrocinadores -->
			      <md-tab label="Patrocinadores">
			        <md-content class="md-padding">
			          <h1 class="md-display-2">Patrocinadores</h1>
			          <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
			          <h1 class="md-display-2">Registro de academias</h1>
								<div class="container-fluid row">
									<div class="col-xs-12 col-sm-6">
										<form name="frmAcademy" novalidate autocomplete="off">
											<!-- input nombre de acdemia -->
											<md-input-container flex-offset class="md-block">
												<label for="">Nombre de academia</label>
												<input name="name" type="text" ng-model="vm.name" required/>
												<!-- Mensaje de retroalimentacion -->
												<div ng-messages="frmAcademy.name.$error">
													<div ng-messages-include="components/includes/messages.html"></div>
												</div>
											</md-input-container>
											<!-- input de direcion -->
											<md-input-container flex-offset class="md-block">
												<label for="">Dirección</label>
												<input type="text" ng-model="vm.address" required/>
												<!-- Mensaje de retroalimentacion -->
												<div ng-messages="frmAcademy.name.$error">
													<div ng-messages-include="components/includes/messages.html"></div>
												</div>
											</md-input-container>
											<!-- input de encargado -->
											<md-input-container flex-offset class="md-block">
												<label for="">Nombre del encargado</label>
												<input type="text" ng-model="vm.manager" required/>
												<!-- Mensaje de retroalimentacion -->
												<div ng-messages="frmAcademy.name.$error">
													<div ng-messages-include="components/includes/messages.html"></div>
												</div>
											</md-input-container>
											<!-- input de cantidad de competidores -->
											<md-input-container flex-offset class="md-block">
												<label for="">Cantidad de competidores</label>
												<input type="number" ng-model="vm.competitors" required/>
												<!-- Mensaje de retroalimentacion -->
												<div ng-messages="frmAcademy.name.$error">
													<div ng-messages-include="components/includes/messages.html"></div>
												</div>
											</md-input-container>
											<!-- input de telefono -->
											<md-input-container flex-offset class="md-block">
												<label for="">Teléfono</label>
												<input type="text" ng-model="vm.phone" required/>
												<!-- Mensaje de retroalimentacion -->
												<div ng-messages="frmAcademy.name.$error">
													<div ng-messages-include="components/includes/messages.html"></div>
												</div>
											</md-input-container>
											<!-- input de email -->
											<md-input-container flex-offset class="md-block">
												<label for="">Email</label>
												<input type="text" ng-model="vm.email" required/>
												<!-- Mensaje de retroalimentacion -->
												<div ng-messages="frmAcademy.name.$error">
													<div ng-messages-include="components/includes/messages.html"></div>
												</div>
											</md-input-container>
											<!-- boton para guardar -->
											<md-button ng-click="vm.createNewAcademy()" class="md-raised" ng-disabled="frmAcademy.$invalid">Agregar Academia</md-button>
											<!-- boton para editar -->
											<md-button ng-click="vm.updateAcademy()" class="md-raised" ng-disabled="frmAcademy.$invalid">Editar Academia</md-button>
										</form>
									</div>
								</div>
								<!-- filtro por nombre -->
								<div class="col-xs-12 col-sm-4 pull-right">
									<md-input-container flex-offset class="md-block">
										<label for="">Filtrar por nombre</label>
										<input type="text" name="nameFilter" ng-model="vm.nameFilter"/>
									</md-input-container>
								</div>
								<!-- tabla -->
									<div class="container-fluid row">
										<div class="col-xs-12">
											<table class="table col-xs-12">
												<thead>
													<tr>
														<th>Nombre de la academia</th>
														<th>Dirección</th>
														<th>Encargado</th>
														<th>Cantidad de competidores</th>
														<th>teléfono</th>
														<th>Email</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="academy in vm.academy | filter:{name:vm.nameFilter}">
														<td>{{academy.name}}</td>
														<td>{{academy.address}}</td>
														<td>{{academy.manager}}</td>
														<td>{{academy.competitors}}</td>
														<td>{{academy.phone}}</td>
														<td>{{academy.email}}</td>
														<td><md-button ng-click="vm.getAcademy(academy)" class="md-raised">Editar</md-button></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
							</md-content>
			      </md-tab>

			      <!-- Tab de Eventos -->
			      <md-tab label="Eventos" ui-sref=".part1">
			        <md-content class="md-padding">
			          <h1 class="md-display-2">Eventos</h1>
			          <!-- links de cada paso del formulario -->
			          <div class="text-center statusButtons">
			          	<a ui-sref-active="active" ui-sref=".part1"><span>1</span></a>
			          	<a ui-sref-active="active" ui-sref=".part2"><span>2</span></a>
			          	<a ui-sref-active="active" ui-sref=".part3"><span>3</span></a>
			          	<a ui-sref-active="active" ui-sref=".part4"><span>4</span></a>
			          	<a ui-sref-active="active" ui-sref=".part5"><span>5</span></a>
			          	<a ui-sref-active="active" ui-sref=".part6"><span>6</span></a>
			          </div>

			          <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-offset-8">

			          	<!-- Formulario para registro de eventos -->
			          	<form id="sign-form" name="frmEventInfo" autocomplete="off" ng-submit="vm.presaveEvent(vm.event)">

		          			<!-- Espacio para mostrar vistas del registro -->
		          			<div id="form-views" ui-view></div>
			          	</form>
			          </div>

						<!-- Tabla para listar eventos -->
			          <div>
			          	<table>
						    <thead>
						      	<tr>
							        <th>Fecha</th>
							        <th>Nombre del Evento</th>
							        <th>Lugar</th>
						      	</tr>
						    </thead>
						    <tbody>
						      	<tr ng-repeat="event in vm.events track by $index">
							        <td>{{event.date1}}</td>
							        <td>{{event.eventName}}</td>
							        <td>{{event.placeName}}</td>
							        <td><img ng-src="{{event.photo}}" alt="Description" width="60px" height="60px" /></td>

							    	<!-- Botones para editar y cancelar eventos -->
							        <td><input type="button" value="Editar" ng-click="vm.getInfo(event)"></td>
							        <td><input type="button" value="Cancelar"></td>
						      	</tr>
						    </tbody>
					  	</table>

			          </div>




			        </md-content>
			      </md-tab>

			      <!-- Tab de patrocinadores -->
			      <md-tab label="Patrocinadores" md-active="vm.imageActive" ui-sref=".sponsorPartOne">
			        <md-content class="md-padding">
			          <h1 class="md-display-2">Patrocinadores</h1>
 			          <div id="sponsorButtons" class="text-center" layout="row"  layout-align="center center">
 			          	<div>
 			          		<a ui-sref-active="active" ui-sref=".sponsorPartOne">1</a>
 			          	</div>
 			          	<div ui-sref-active="active" ui-sref=".sponsorPartTwo">
 			          		<a>2</a>
 			          	</div>
			          </div>
		          		<form id="spon-form" name="sponsorForm" autocomplete="off" ng-submit="vm.presaveSponsor(vm.sponsor)">

		          			<!-- Espacio para mostrar vistas del registro -->
		          			<div id="form-views" ui-view></div>
			          	</form>
			        </md-content>
			      </md-tab>
						<md-tab label="Representante de consejo" ui-sref="admin.partOne">
			        <md-content class="md-padding">
			          <h1 class="md-display-2">Registro de representante de consejo</h1>
								<h2 id="errorConsul"></h2>
								<!-- the links to our nested states using relative paths -->
            <!-- add the active class if the state matches our ui-sref -->
						<div class="statusButtons text-center">
							<a ui-sref-active="active" ui-sref=".partOne"><span>1</span></a>
							<a ui-sref-active="active" ui-sref=".partTwo"><span>2</span></a>
						</div>
								<form name="frmConsulRegister" autocomplete="off" ng-submit="vm.preSaveConsul(vm.user)">
									<div ui-view></div>
								</form>
			        </md-content>
			      </md-tab>
						<md-tab label="Bitacora del sistema" ui-sref="admin.log">
			        <md-content class="md-padding">
			          <h1 class="md-display-2">Bitacora del sistema</h1>
								<div ui-view="log-sistem"></div>
			        </md-content>
			      </md-tab>
			    </md-tabs>
			  </md-content>
			</div>
	</div>
</div>
<select>
	<option ng-repeat="country in vm.countries" value="{{country}}">{{country}}</option>
</select>
<!-- {{vm.countries}} -->
