<div id="secondPart" class="row">
	<div class="col-md-offset-2 col-md-4">

		<!-- Campo de fecha inicio  -->
		<md-input-container flex-offset>
			<md-datepicker name="frmEventInfo.date1"  ng-model="vm.event.date1"  md-placeholder="Fecha inicio" md-min-date="vm.today" required></md-datepicker>

			<!-- Mensaje de retroalimentacion -->
		 	<div ng-messages="frmEventInfo.$error">
		   		<div ng-messages-include="components/includes/messages.html"></div>
		 	</div>
		</md-input-container>
	</div>
	<div class=" col-md-3">

		<!-- Campo para la hora de inicio -->
		<div>						    		
			<md-input-container>
				<label>Hora Inicio</label>
				<input type="time" name="frmEventInfo.time1" ng-model="vm.event.time1" required>
				<!-- Mensaje de retroalimentacion -->
				<div ng-messages="frmEventInfo.$error">
			   		<div ng-messages-include="components/includes/messages.html"></div>
			 	</div>
			</md-input-container>	
		</div>
	</div>
</div>
<div id="last2Part" class="row">
	<div class="col-md-offset-2 col-md-4">

		<!-- Campo de Fecha fin -->
		<md-input-container flex-offset>
			<md-datepicker name="frmEventInfo.date2"  ng-model="vm.event.date2"  md-placeholder="Fecha fin" md-min-date="vm.today" required></md-datepicker>
			<!-- Mensaje de retroalimentacion -->
		 	<div ng-messages="frmEventInfo.$error">
		   		<div ng-messages-include="components/includes/messages.html"></div>
		 	</div>
		</md-input-container>
	</div>

	
	<div class="col-md-3">

		<!-- Campo para la hora de fin -->
		<div>
			<md-input-container>
				<label>Hora fin</label>
				<input type="time" name="frmEventInfo.time2" ng-model="vm.event.time2" required>
				<!-- Mensaje de retroalimentacion -->
				<div ng-messages="frmEventInfo.$error">
		   			<div ng-messages-include="components/includes/messages.html"></div>
		 		</div>
			</md-input-container>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-2">

		<!-- Botón Anterior -->
		<a ui-sref="admin.part1" class="btn btn-primary"><span class="glyphicon glyphicon-circle-arrow-left"></span> Anterior</a>
	</div>
	<div class="col-md-offset-8 col-md-2">

		<!-- Botón siguiente -->
		<a ui-sref="admin.part3" class="btn btn-primary" ng-disabled="frmEventInfo.$invalid">Siguiente<span class="glyphicon glyphicon-circle-arrow-right"></span></a>
	</div>
</div>















