<div class="row">
<div class="col-xs-12 col-sm-6">
		<!-- Campo nombre del lugar -->
		<md-input-container flex-offset>
			<label>Nombre del lugar </label>
			<input places-auto-complete="true"
                      placeholder="Ej. Gimnasio Nacional" 
                      size=80
                      ng-model="vm.event.place.placeName" 
                      component-restrictions="{country:'cr'}"
                      on-place-changed="vm.placeChanged()"
              maxlength="100" type="text" class="form-control" name="frmEventInfo.placeName" required />

			<!-- Mensaje de retroalimentacion -->
			<div ng-messages="frmEventInfo.$error">
				<div ng-messages-include="components/includes/messages.html"></div>
			</div>
		</md-input-container>
	</div>
	<div class="col-xs-12 col-sm-6">
		<!-- Campo latitud -->
		<md-input-container flex-offset>
			<label>Latitud Y Longitud</label>
			<input type="text" name="frmEventInfo.coords" ng-model="vm.event.place.coords" disabled="disabled">

			<!-- Mensaje de retroalimentacion -->
			<div ng-messages="frmEventInfo.$error">
				<div ng-messages-include="components/includes/messages.html"></div>
			</div>
		</md-input-container>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<ng-map zoom="7" center=[9.9333300,-84.0833300]>
			<marker ng-show="vm.place" position="{{vm.place.geometry.location}}" ></marker>
		</ng-map>
		<div ng-show="vm.place">
              Coordenadas: {{vm.place.geometry.location}}
         </div>
	</div>
</div>
<div class="row">
	<div class="col-md-2">
		<!-- Botón Anterior -->
		<a ui-sref="admin.part3" class="btn btn-primary"><span class="glyphicon glyphicon-circle-arrow-left"></span> Anterior</a>
	</div>
	<div class="col-md-offset-8 col-md-2">
		<!-- Botón siguiente -->
		<a ui-sref="admin.part5" class="btn btn-primary" ng-disabled="frmEventInfo.$invalid">Siguiente <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
	</div>
</div>




