<div class="row">
	<div class="col-md-4">
		<!-- Campo nombre del lugar -->
		<md-input-container flex-offset>
			<label>Cantidad de asientos</label>
			<input type="number" name="frmEventInfo.seats" ng-model="vm.event.seats" min="0" required>

			<!-- Mensaje de retroalimentacion -->
			<div ng-messages="frmEventInfo.$error">
				<div ng-messages-include="components/includes/messages.html"></div>
			</div>
		</md-input-container>
	</div>
	<div class="col-md-4">
		<!-- Campo cantidad de entradas -->
		<md-input-container flex-offset>
			<label>Cantidad de entradas a vender</label>
			<input type="number" name="frmEventInfo.tickets" ng-model="vm.event.tickets" min="0" required>

			<!-- Mensaje de retroalimentacion -->
			<div ng-messages="frmEventInfo.$error">
				<div ng-messages-include="components/includes/messages.html"></div>
			</div>
		</md-input-container>
	</div>
	<div class="col-md-4">
		<!-- Campo precio de entradas -->
		<md-input-container flex-offset>
			<label>Precio de entradas (colones)</label>
			<input type="number" name="frmEventInfo.ticketPrice" ng-model="vm.event.ticketPrice" min="0" required>

			<!-- Mensaje de retroalimentacion -->
			<div ng-messages="frmEventInfo.$error">
				<div ng-messages-include="components/includes/messages.html"></div>
			</div>
		</md-input-container>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<!-- Campo nombre de contacto -->
		<md-input-container flex-offset>
			<label>Nombre de contacto</label>
			<input type="text" name="frmEventInfo.contactName" ng-model="vm.event.contactName" maxlength="30" md-maxlength="30" placeholder="Valeria Mora" required>

			<!-- Mensaje de retroalimentacion -->
			<div ng-messages="frmEventInfo.$error">
				<div ng-messages-include="components/includes/messages.html"></div>
			</div>
		</md-input-container>
	</div>
	<div class="col-md-6">
		<!-- Campo teléfono de contacto -->
		<md-input-container flex-offset>
			<label>Teléfono de contacto</label>
			<input name="frmEventInfo.contactPhone" ng-model="vm.event.contactPhone" ng-pattern="/^[0-9]{8}$/" minlength="8" maxlength="8" placeholder="22267375" required>

			<!-- Mensaje de retroalimentacion -->
			<div ng-messages="frmEventInfo.$error">
				<div ng-messages-include="components/includes/messages.html"></div>
			</div>
		</md-input-container>
	</div>
</div>
<div class="row">
	<!-- Subir logo -->
	<div class="col-md-12">
		<label id="buttonLogo" for="photo" class="btn btn-primary btn-file">
	    Adjuntar logo 
		</label><input id="photo" name="photo" type="file"  >
	</div>
</div>

<div class="row">
	<div class="col-md-offset-8 col-md-4">
		<!-- botón para guardar datos -->
		<md-button type="submit" class="md-raised pull-right"  ng-disabled="frmEventInfo.$invalid" ng-click="vm.reset()" ng-show="vm.showButtonSubmit">Ingresar</md-button>

		<!-- botón para guardar datos actualizados -->
		<md-button type="submit" class="md-raised pull-right" ng-disabled="frmEventInfo.$invalid" ng-click="vm.updateEvent()" ng-show="vm.showButtonUpDate">Actualizar</md-button>
	</div>
	
</div>
<div class="row">
	<div class="cl-md-2">
		<!-- Botón Anterior -->
		<a ui-sref="admin.part4" class="btn btn-primary"><span class="glyphicon glyphicon-circle-arrow-left"></span> Anterior</a>
	</div>
</div>




