<!--<div class="sponsor-form" flex="80" layout-align="center center" layout="row">
	<md-input-container class="md-block" flex-gt-sm >
	  <label>Nombre del patrocinador</label>
	  <input md-maxlength="30" required name="name" ng-model="vm.sponsor.sponsorName" />

	  <div class="hint" ng-if="showHints">Ingrese el nombre del patrocinador</div>

	  <div ng-messages="sponsorForm.name.$error" ng-if="!showHints">
	    <div ng-message="required">El primer nombre es requerido.</div>
	    <div ng-message="md-maxlength">El primer nombre tiene que ser menor a 30 caracteres.</div>
	  </div>
	</md-input-container>
	
		<md-input-container class="md-block" flex-gt-sm>
	  <label>Nombre de la compañía</label>
	  <input md-maxlength="30" required name="company" ng-model="vm.sponsor.sponsorCompany" />

	  <div class="hint" ng-if="showHints">Ingrese el nombre de la compañía</div>

	  <div ng-messages="sponsorForm.company.$error" ng-if="!showHints">
	    <div ng-message="required">El primer nombre es requerido.</div>
	    <div ng-message="md-maxlength">El primer nombre tiene que ser menor a 30 caracteres.</div>
	  </div>
	</md-input-container>
</div>
<div flex="90" layout="row" layout-align="end">
	<a ui-sref="admin.sponsorPartTwo" class="btn btn-info">Siguiente <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
</div>-->