<form name="frmNewMeeting" ng-submit="vm.newAppointment(vm.appt)">
  <!-- Campo para escoger la fecha -->
  <md-input-container>
    <md-datepicker name="dateToMeet"  ng-model="vm.appt.dateToMeet"  md-placeholder="Fecha de la reunión" required></md-datepicker>

    <!-- Mensaje de retroalimentacion -->
   	<div ng-messages="frmNewMeeting.dateToMeet.$error">
     		<div ng-messages-include="components/includes/messages.html"></div>
   	</div>
  </md-input-container>

  <!-- Campo Tipo de evento -->
  <md-input-container>
      <label>Seleciona la propuesta a evaluar</label>
      <md-select name="proposeType" ng-model="vm.appt.proposeName" required>
        <md-option ng-repeat="apt in vm.propList track by $index" value="{{apt}}">{{apt}}</md-option>
      </md-select>

    <!-- Mensaje de retroalimentacion -->
    <div ng-messages="frmNewMeeting.proposeType.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div>
  </md-input-container>
  <md-button type="submit">Agendar cita</md-button>
</form>
