<div class="body" >
  <div class="log-container">
  <form name="signup">
      <figure class="logo">
        <img src="components/login/logo.png">
      </figure>
      <div class="form-group-container">
        <div class="form-group" layout="row">
        <md-icon class="login-icon">
          <i class="material-icons">account_circle</i>
        </md-icon>
          <md-input-container class="md-block" flex="80">
        <label>ID</label>
        <input class="id-email" required name="clientEmail" ng-model="vm.id"
               minlength="9" maxlength="100" ng-pattern="/^[0-9]{9}$/" />

        <div ng-messages="projectForm.clientEmail.$error" role="alert">
          <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
            Your email must be between 10 and 100 characters long and look like an e-mail address.
          </div>
        </div>
      </md-input-container>
        </div>
        <div class="form-group" layout="row">
        <md-icon class="login-icon">
          <i class="material-icons icon">lock</i>
        </md-icon>
          <md-input-container flex="80">
            <label class="md-primary">Contraseña</label>
            <input class="id-email" ng-model="vm.password" name="password" type="password" required />

            <div class="hint" ng-if="showHints">xyz08 OR abcd78</div>

            <div ng-messages="userForm.password.$error" ng-if="!showHints">
              <div ng-message="pattern">xyz08 OR abcd78 - Ingrese una contraseña válida.</div>
            </div>
          </md-input-container>
        </div>
        <div class="text-center">
          <!--<a href="" class="btn btn-raised btn-info text-center" ng-disabled="signup.$invalid" abm-component>Log In</a>-->
          <md-button style="color: #fff" type="submit" ng-click="vm.login()" class="btn btn-default">
            Log In
          </md-button>
        </div>
      </div>
  </form>
</div>
</div>

<!-- ng-pattern="/^[a-zA-Z0-9]*$/"-->

<!--cedula: ng-pattern="/^[0-9]{9}$/"-->

<!-- correo: ng-pattern="/^.+@.+\..+$/"-->
