<!-- Campo de fecha inicio  -->
<md-input-container flex-offset>
	<md-datepicker name="dateTime1"  ng-model="vm.dateTime1"  md-placeholder="Fecha/hora Inicio" required></md-datepicker>
	<!-- Mensaje de retroalimentacion -->
 	<div ng-messages="frmEventInfo.dateTime1.$error">
   		<div ng-messages-include="components/includes/messages.html"></div>
 	</div>
</md-input-container>

<!-- Campo de Fecha fin -->
<md-input-container flex-offset>
	<md-datepicker name="dateTime2"  ng-model="vm.dateTime2"  md-placeholder="Fecha fin" required></md-datepicker>
	<!-- Mensaje de retroalimentacion -->
 	<div ng-messages="frmEventInfo.dateTime2.$error">
   		<div ng-messages-include="components/includes/messages.html"></div>
 	</div>
</md-input-container>

<!-- Botón siguiente -->
<a ui-sref="admin.part3" class="btn btn-block btn-info">Siguiente <span class="glyphicon glyphicon-circle-arrow-right"></span></a>


