
<!-- Campo academias invitadas -->
<md-input-container>
	<label>Academias invitadas</label>
	<md-select name="academies" ng-model="vm.selectAcademies" multiple required>
		<md-optgroup>
			<!-- <md-option ng-value="topping.name" ng-repeat="topping in toppings | filter: {category: 'meat' }">{{topping.name}}</md-option> -->
			<!-- <md-option ng-value="" ng-repeat=""></md-option> -->
			<md-option></md-option>
		</md-optgroup>
	</md-select>

	<!-- Mensaje de retroalimentacion -->
	<div ng-messages="frmEventInfo.academies.$error">
		<div ng-messages-include="components/includes/messages.html"></div>
	</div>
</md-input-container>

<!-- Campo de categorías por participar -->
<md-input-container>
	<label>Categorías por participar</label>
	<md-select name="categories" ng-model="vm.selectCategories" multiple required>
		<md-optgroup>
			<md-option></md-option>
		</md-optgroup>
	</md-select>

	<!-- Mensaje de retroalimentacion -->
	<div ng-messages="frmEventInfo.categories.$error">
		<div ng-messages-include="components/includes/messages.html"></div>
	</div>
</md-input-container>

<!-- Campo costo de inscripción -->
<md-input-container flex-offset>
	<label>Costo de inscripción</label>
	<input name="costInsc" ng-model="vm.costInsc" required>

	<!-- Mensaje de retroalimentacion -->
	<div ng-messages="frmEventInfo.costInsc.$error">
		<div ng-messages-include="components/includes/messages.html"></div>
	</div>
</md-input-container>

<!-- Campo de Patrocinadores -->
<md-input-container>
	<label>Patrocinadores</label>
	<md-select name="sponsors" ng-model="vm.selectSponsors" multiple required>
		<md-optgroup>
			<md-option></md-option>
		</md-optgroup>
	</md-select>

	<!-- Mensaje de retroalimentacion -->
	<div ng-messages="frmEventInfo.sponsors.$error">
		<div ng-messages-include="components/includes/messages.html"></div>
	</div>
</md-input-container>

<!-- Botón siguiente -->
<a ui-sref="admin.part4" class="btn btn-block btn-info">Siguiente <span class="glyphicon glyphicon-circle-arrow-right"></span></a>