<!-- Campo nombre del lugar -->
<md-input-container flex-offset>
	<label>Nombre del lugar </label>
	<input name="placeName" ng-model="vm.placeName" required>

	<!-- Mensaje de retroalimentacion -->
	<div ng-messages="frmEventInfo.placeName.$error">
		<div ng-messages-include="components/includes/messages.html"></div>
	</div>
</md-input-container>

<!-- Campo subir locación -->
<md-input-container flex-offset>
	<label>Locación</label>
	<input name="location" ng-model="vm.location" required>

	<!-- Mensaje de retroalimentacion -->
	<div ng-messages="frmEventInfo.location.$error">
		<div ng-messages-include="components/includes/messages.html"></div>
	</div>
</md-input-container>

<!-- Campo latitud -->
<md-input-container flex-offset>
	<label>Latitud</label>
	<input name="latitude" ng-model="vm.latitude" required>

	<!-- Mensaje de retroalimentacion -->
	<div ng-messages="frmEventInfo.latitude.$error">
		<div ng-messages-include="components/includes/messages.html"></div>
	</div>
</md-input-container>

<!-- Campo longitud -->
<md-input-container flex-offset>
	<label>Logitud</label>
	<input name="length" ng-model="vm.length" required>

	<!-- Mensaje de retroalimentacion -->
	<div ng-messages="frmEventInfo.length.$error">
		<div ng-messages-include="components/includes/messages.html"></div>
	</div>
</md-input-container>

<!-- Botón siguiente -->
<a ui-sref="admin.part5" class="btn btn-block btn-info">Siguiente <span class="glyphicon glyphicon-circle-arrow-right"></span></a>

