<section id="landing" class="col-xs-12">

	<!-- Navegación -->
	<div id="Navegation" class="row">
      	<nav class="navbar navbar-default">
         	<div class="container-fluid" id="Menu">
	           <div class="navbar-header">
	             	<button id="button" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	               		<span class="sr-only">Toggle navigation</span>
	               		<span class="icon-bar"></span>
	               		<span class="icon-bar"></span>
	               		<span class="icon-bar"></span>
	             	</button>
	           </div>

           		<div class="nav navbar-nav navbar-right">
             		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               			<ul class="nav navbar-nav" id="listaNav">
                 			<li href="#" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button">EVENTOS <span class="fa fa-angle-down"></span></a>
                   				<ul class="dropdown-menu">
                   					<li><a ng-click="vm.events($event)">FUTUROS EVENTOS</a></li>
				                    <li><a ui-sref-active="active" ui-sref="proposes.proposeOne">HACER PROPUESTAS</a></li>
                   				</ul>
                 			</li>
                 			<li href="#" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button">ENTRADAS <span class="fa fa-angle-down"></span></a>
                   				<ul class="dropdown-menu">
                   					<li><a ng-click="vm.reserve($event)">RESERVAR</a></li>
														<li><a ng-click="vm.consult($event)">CONSULTAR</a></li>
				                    <li><a ng-click="vm.cancel($event)">CANCELAR</a></li>
                   				</ul>
                 			</li>
			                <li><a ng-click="vm.logIn($event)">LOG IN</a></li>
               			</ul>
             		</div>
           		</div>
         	</div>
       	</nav>
	</div>

	<!-- Nombre e información de la Federación -->
	<div class="row">
		<div class="col-md-offset-2 col-md-8">
			<div class="col-xs-12">
				<p id="titleFCT">Federación Costarricense de Taekwondo</p>
			</div>
			<div id="infoFCT" class="col-xs-12">
				<p>"Somos una organización de caracter técnico deportivo que administra, rige, promueve, organiza, masifica y fomenta la practica del Taekwondo en todo Costa Rica. Nuestro objetivo es masificar, promover y preparar a los atletas en todos sus niveles, tanto en sus conocimientos técnicos y alta competencia, como en valores personales dentro de un ambiente que contribuya a aumentar su calidad de vida. "</p>
			</div>
			<div id="buttonInfo" class="col-xs-12">
				<md-button class="md-raised" data-toggle="collapse" data-target="#moreInfo">Más información</md-button>
			</div>
		</div>
	</div>
</section>

<section class="collapse" id="moreInfo">
	<section class="row col-xs-12">
		<div class="card cardTam col-xs-12">
		  <div class="card-block">
		    <h3 class="card-title">Información general.</h3>
		    <p class="card-text text-justify">Federación Costarricense de Taekwondo conforme a los preceptos establecidos en sus estatutos y reglamentos, los de la Federación Mundial de Taekwondo (W.T.F) y los de la Unión Panamericana de Taekwondo (P.A.T.U), de las cuales es miembro, siendo la unica y es el Único ente regulatorio del Taekwondo en Costa Rica.</p>
				<p class="card-text text-justify">Es una organización de caracter tecnico deportivo que administra, rige, promueve, organiza, masifica y fomenta la practica del Taekwondo en todo Costa Rica.</p>
		  </div>
		</div>
		<div class="card cardTam col-xs-12">
		  <div class="card-block">
		    <h3 class="card-title">Costa Rica en la élite mundial del taekwondo.</h3>
		    <p class="card-text text-justify">La Federación Costarricense de Taekwondo recibió una muy buena noticia para el deporte nacional y es que la Federación Mundial de esta disciplina ortogó a nuestro país la categoría A que lo distingue como una de las nacionales que desarrollan taekwondo de primer mundo.</p>
		  </div>
		</div>
	</section>

	<section class="container-fluid row col-xs-12" id="infoBelt">
		<h1 class="col-xs-12">Informacion de cinturones</h1>
		<div class="container-fluid col-xs-12 col-sm-5">
			<button type="button" class="btn col-xs-12 col-sm-5" data-toggle="collapse" data-target="#blanca" id="btnBlanca">CINTA BLANCA</button>
			<button type="button" class="btn col-xs-12 col-sm-5" data-toggle="collapse" data-target="#amarilla" id="btnAmarilla">CINTA AMARILLA</button>
			<button type="button" class="btn col-xs-12 col-sm-5" data-toggle="collapse" data-target="#verde" id="btnVerde">CINTA VERDE</button>
			<button type="button" class="btn col-xs-12 col-sm-5" data-toggle="collapse" data-target="#azul" id="btnAzul">CINTA AZUL</button>
			<button type="button" class="btn col-xs-12 col-sm-5" data-toggle="collapse" data-target="#roja" id="btnRoja">CINTA ROJA</button>
			<button type="button" class="btn col-xs-12 col-sm-5" data-toggle="collapse" data-target="#negra" id="btnNegra">CINTA NEGRA</button>
		</div>

		<div class="container-fluid col-xs-12 col-sm-6">
			<div class="collapse" id="blanca">
				<div class="card col-xs-12 cardTam2">
					<div class="card-block">
						<h3 class="card-title">CINTA BLANCA</h3>
						<p class="card-text text-justify"><span>Nombre de la Cinta:</span> Jin-Ti</p>
						<p class="card-text text-justify"><span>Simbolismo:</span> Pureza / Inocencia</p>
						<p class="card-text text-justify"><span>Significado:</span> Esta cinta representa la pureza, el portador del mismo es una persona que comienza en la práctica del Arte Marcial, busca comprender el sentido y orden de su Micro Universo interno y comienza a entender que se debe trabajar
							duro para conseguir las metas propuestas.</p>
					</div>
				</div>
			</div>
			<div class="collapse" id="amarilla">
				<div class="card col-xs-12 cardTam2">
					<div class="card-block">
						<h3 class="card-title">CINTA AMARILLA</h3>
						<p class="card-text text-justify"><span>Nombre de la Cinta:</span> Norang-Ti</p>
						<p class="card-text text-justify"><span>Simbolismo:</span> Descubrimiento, tierra y realismo </p>
						<p class="card-text text-justify"><span>Significado:</span> La cinta amarrilla representa el inicio del aprendizaje, el nacimiento. Se usa el color amarillo como representación de las riquesazas físicas y espirituales obtenidas gracias a la practica del Arte Marcial.</p>
						<p class="card-text text-justify"><span>Requisitos:</span> para ascender del cinturón blanco al amarillo debe tener como mínimo 3 torneos participados.</p>
					</div>
				</div>
			</div>
			<div class="collapse" id="verde">
				<div class="card col-xs-12 cardTam2">
					<div class="card-block">
						<h3 class="card-title">CINTA VERDE</h3>
						<p class="card-text text-justify"><span>Nombre de la Cinta:</span> Chorok-Ti</p>
						<p class="card-text text-justify"><span>Simbolismo:</span> Naturaleza, fe y esperanza</p>
						<p class="card-text text-justify"><span>Significado:</span> La cinta verde representa el florecimiento de una nueva vida. En este color se demuestra que el practicante del Arte Marcial comienza a meterse dentro de la práctica y empieza a desarrollar destrezas.</p>
						<p class="card-text text-justify"><span>Requisitos:</span> para ascender del cinturón amarillo al verde debe tener como mínimo 4 torneos participados.</p>
					</div>
				</div>
			</div>
			<div class="collapse" id="azul">
				<div class="card col-xs-12 cardTam2">
					<div class="card-block">
						<h3 class="card-title">CINTA AZUL</h3>
						<p class="card-text text-justify"><span>Nombre de la Cinta:</span> Parang-Ti</p>
						<p class="card-text text-justify"><span>Simbolismo:</span> Atardecer / Fruto maduro</p>
						<p class="card-text text-justify"><span>Significado:</span> La cinta roja es considerada uno de los grados más dificiles, ya que en este el practicante del Arte Marcial debe alcanzar la fuerza, el arrojo, la valentía y lo que es más importante la humildad necesaria para poder
							llegar al grado de cinta negra. El color rojo representa el esfuerzo realizado a través de los años para llegar a ese nivel.</p>
						<p class="card-text text-justify"><span>Requisitos:</span> para ascender del cinturón verde al azul debe tener como mínimo 5 torneos participados.</p>
					</div>
				</div>
			</div>
			<div class="collapse" id="roja">
				<div class="card col-xs-12 cardTam2">
					<div class="card-block">
						<h3 class="card-title">CINTA ROJA</h3>
						<p class="card-text text-justify"><span>Nombre de la Cinta:</span> Palgang-Ti</p>
						<p class="card-text text-justify"><span>Simbolismo:</span> Descubrimiento, tierra y realismo </p>
						<p class="card-text text-justify"><span>Significado:</span> La cinta amarrilla representa el inicio del aprendizaje, el nacimiento. Se usa el color amarillo como representación de las riquesazas físicas y espirituales obtenidas gracias a la practica del Arte Marcial.</p>
						<p class="card-text text-justify"><span>Requisitos:</span> para ascender del cinturón azul al rojo debe tener como mínimo 6 torneos participados.</p>
					</div>
				</div>
			</div>
			<div class="collapse" id="negra">
				<div class="card col-xs-12 cardTam2">
					<div class="card-block">
						<h3 class="card-title">CINTA NEGRA</h3>
						<p class="card-text text-justify"><span>Nombre de la Cinta:</span> Conjon-Ti</p>
						<p class="card-text text-justify"><span>Simbolismo:</span> Idealismo y Pureza</p>
						<p class="card-text text-justify"><span>Significado:</span> El trayecto transcurrido entre la "Cinta blanca y la "Cinta negra" solo representa un proceso de preparación del practicante de Tae Kwon Do, pero solo al llegar a "cinta negra" es capaz de empezar a recorrer el camino
							para aprender a disfrutarlo. La "cinta negra" es también, símbolo de habilidad y madurez, el saber aceptar y ejercer esta responsabilidad siempre van juntas, son inseparables.</p>
						<p class="card-text text-justify"><span>Requisitos:</span> para ascender del cinturón rojo al negro debe tener como mínimo 7 torneos participados y 3 exhibiciones.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>
