form name="frmStudent" novalidate autocomplete="off">
  <!-- input de cedula -->
  <div class="col-xs-12 col-sm-6">
    <md-input-container flex-offset class="md-block">
      <label for="">Cédula</label>
      <input name="id" type="text" ng-model="vm.id" required/>
      <!-- Mensaje de retroalimentacion -->
      <div ng-messages="frmStudent.id.$error">
        <div ng-messages-include="components/includes/messages.html"></div>
      </div>
    </md-input-container>
  </div>
  <!-- input de  Fecha de nacimiento -->
  <div class="">

  </div>
  <md-input-container flex-offset class="md-block col-xs-12 col-sm-6">
    <label for="">Fecha de nacimiento</label>
    <md-datepicker ng-model="vm.birthday" md-current-view="year" required></md-datepicker>
  </md-input-container>
  <!-- input de primer nombre -->
  <md-input-container flex-offset class="md-block col-xs-12 col-sm-6">
    <label for="">Primer nombre</label>
    <input name="firstName" type="text" ng-model="vm.firstName" required/>
    <!-- Mensaje de retroalimentacion -->
    <div ng-messages="frmStudent.firstName.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div>
  </md-input-container>
  <!-- input de  segundo nombre-->
  <md-input-container flex-offset class="md-block col-xs-12 col-sm-6">
    <label for="">Segundo nombre</label>
    <input name="secondName" type="text" ng-model="vm.secondName" />
    <!-- Mensaje de retroalimentacion -->
    <div ng-messages="frmStudent.secondName.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div>
  </md-input-container>
  <!-- input de primer apellido -->
  <md-input-container flex-offset class="md-block col-xs-12 col-sm-6">
    <label for="">Primer apellido</label>
    <input name="firstLastName" type="text" ng-model="vm.firstLastName" required/>
    <!-- Mensaje de retroalimentacion -->
    <div ng-messages="frmStudent.firstLastName.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div>
  </md-input-container>
  <!-- input de  segundo apellido -->
  <md-input-container flex-offset class="md-block col-xs-12 col-sm-6">
    <label for="">Segundo apellido</label>
    <input name="secondLastName" type="text" ng-model="vm.secondLastName" required/>
    <!-- Mensaje de retroalimentacion -->
    <div ng-messages="frmStudent.secondLastName.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div>
  </md-input-container>
  <!-- input de género -->
  <md-input-container flex-offset class="md-block col-xs-12 col-sm-6">
    <label for="">Género</label>
    <input name="genre" type="text" ng-model="vm.genre" required/>
    <!-- Mensaje de retroalimentacion -->
    <div ng-messages="frmStudent.genre.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div>
  </md-input-container>
  <!-- input de peso -->
  <md-input-container flex-offset class="md-block col-xs-12 col-sm-3">
    <label for="">Peso</label>
    <input name="weight" type="number" ng-model="vm.weight" required/>
    <!-- Mensaje de retroalimentacion -->
    <div ng-messages="frmStudent.weight.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div>
  </md-input-container>
  <!-- input de altura -->
  <md-input-container flex-offset class="md-block col-xs-12 col-sm-3">
    <label for="">Altura</label>
    <input name="height" type="number" ng-model="vm.height" required/>
    <!-- Mensaje de retroalimentacion -->
    <div ng-messages="frmStudent.height.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div>
  </md-input-container>
  <!-- input de nacionalidad -->
  <md-input-container flex-offset class="md-block col-xs-12 col-sm-6">
    <label for="">Nacionalidad</label>
    <input name="nationality" type="text" ng-model="vm.nationality" required/>
    <!-- Mensaje de retroalimentacion -->
    <div ng-messages="frmStudent.nationality.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div>
  </md-input-container>
  <!-- input de temailélefono -->
  <md-input-container flex-offset class="md-block col-xs-12 col-sm-6">
    <label for="">Télefono</label>
    <input name="phone" type="text" ng-model="vm.phone" required/>
    <!-- Mensaje de retroalimentacion -->
    <div ng-messages="frmStudent.phone.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div>
  </md-input-container>
  <!-- input de email -->
  <md-input-container flex-offset class="md-block col-xs-12 col-sm-6">
    <label for="">Email</label>
    <input name="email" type="text" ng-model="vm.email" required/>
    <!-- Mensaje de retroalimentacion -->
    <div ng-messages="frmStudent.email.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div>
  </md-input-container>
  <!-- input de academia -->
  <md-input-container flex-offset class="md-block col-xs-12 col-sm-6">
    <label for="">Academia</label>
    <input name="attendAcademy" type="text" ng-model="vm.attendAcademy" required/>
    <!-- Mensaje de retroalimentacion -->
    <div ng-messages="frmStudent.attendAcademy.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div>
  </md-input-container>
  <!-- input de profesor -->
  <md-input-container flex-offset class="md-block col-xs-12 col-sm-6">
    <label for="">Profesor</label>
    <input name="teacher" type="text" ng-model="vm.teacher" required/>
    <!-- Mensaje de retroalimentacion -->
    <div ng-messages="frmStudent.teacher.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div>
  </md-input-container>
  <!-- input de cinta -->
  <md-input-container flex-offset class="md-block col-xs-12 col-sm-6">
    <label for="">Cinta</label>
    <input name="belt" type="text" ng-model="vm.belt" required/>
    <!-- Mensaje de retroalimentacion -->
    <div ng-messages="frmStudent.belt.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div>
  </md-input-container>
  <!-- input de categoría -->
  <md-input-container flex-offset class="md-block col-xs-12 col-sm-6">
    <label for="">Categoría</label>
    <input name="category" type="text" ng-model="vm.category" required/>
    <!-- Mensaje de retroalimentacion -->
    <div ng-messages="frmStudent.category.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div>
  </md-input-container>
  <!-- input de torneos participaddos -->
  <md-input-container flex-offset class="md-block col-xs-12 col-sm-3">
    <label for="">Torneos participaddos</label>
    <input name="tournaments" type="number" ng-model="vm.tournaments" required/>
    <!-- Mensaje de retroalimentacion -->
    <div ng-messages="frmStudent.tournaments.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div>
  </md-input-container>
  <!-- input de torneos ganados -->
  <md-input-container flex-offset class="md-block col-xs-12 col-sm-3">
    <label for="">Torneos ganados</label>
    <input name="tournamentsWins" type="number" ng-model="vm.tournamentsWins" required/>
    <!-- Mensaje de retroalimentacion -->
    <div ng-messages="frmStudent.tournamentsWins.$error">
      <div ng-messages-include="components/includes/messages.html"></div>
    </div>
  </md-input-container>
  <!-- boton para guardar -->
  <md-button ng-click="vm.createStudent()" class="md-raised" ng-disabled="frmStudent.$invalid">Agregar Alumno</md-button>
  <!-- boton para editar -->
  <md-button ng-click="vm.updateStudent()" class="md-raised" ng-disabled="frmStudent.$invalid">Editar Alumno</md-button>
</form>
